@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.FolderEditViewModel
@{
    ViewBag.Title = "FolderItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FolderEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID, new { @name = "hfFolderID" })
    @Html.HiddenFor(x => x.DataSourceName)
    @Html.HiddenFor(x => x.DataSourceTitle)
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="margin-bottom: 0!important;">

                @Html.Raw(Model.RevisionHistoryText)
            </div>
            <br />
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Detail</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnFolderDelete" onclick="location.href='@Url.Action("FolderDelete","Taxonomy",new { id = Model.ID })'" class="btn btn-danger pull-right" style="margin-right: 5px;">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px;">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="txtName" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Title, new { @id = "txtTitle", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtName" class="col-sm-2 control-label">Catgeory</label>
                                <div class="col-sm-10">
                                    <!-- TODO -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtName" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.Description, new { @id = "txtDescription", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDisplayName" class="col-sm-2 control-label"> </label>
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(x => x.IsShared)<label style="margin-left:10px;">Shared</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtNote" class="col-sm-2 control-label">Note</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.Note, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- ============================================================================================== -->
<!-- FOLDER ITEMS -->
<!-- ============================================================================================== -->
<div class="box box-primary" style="padding:10px;">
    <div class="box-header with-border">
        <h3 class="box-title">Folder Items</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div id="section-folder-item-container" class="box-body no-padding">
        @{ Html.RenderAction("FolderItemList", "Taxonomy", new { targetFolderId = Model.ID, dataSource = Model.DataSourceName });}
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            @*<button type="button" class="btn btn-primary btn-sm checkbox-toggle">
                    <img src="~/Content/img/check.png" />
                </button>*@
            <div class="pull-right">
                <button type="button" disabled class="btn btn-default btn-sm">
                    Export
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-to-folder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add to Folder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_new_folder" data-toggle="tab" aria-expanded="true">New Folder</a></li>
                                <li class=""><a href="#tab_select_folder" data-toggle="tab" aria-expanded="false">Saved Folders</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_new_folder">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="txtFolderTitle" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnCreateFolder" class="btn btn-info btn-flat">Create</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_select_folder">
                                    <div class="alert alert-warning">
                                        <h4><i class="icon fa fa-warning"></i>Please Note</h4>
                                        This functionality will be available in the next release.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-success pull-right" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">

    //===================================================================================
    // Delete an invidual item from the folder.
    //===================================================================================
    $(document).on("click", "[id*='btnDelete']", function(){
        var btnId = $(this).attr('id');
        var controlIdString = btnId.split("_")
        var folderContainerControlId = "#section-folder-item-container";
        var folderId = $("#ID").val();
        var folderItemId = controlIdString[2];
        var dataSource = $("#DataSource").val();
        var url = '@Url.Action("FolderItemDelete", "Taxonomy")';

        $.get(url, { targetFolderId: folderId, itemId: folderItemId, dataSource : dataSource })
        .done(function (response) {
            $(folderContainerControlId).html(response);
        });
    });

    //===================================================================================
    // Check/un-check all items.
    //===================================================================================
    $(function () {
        $('.check-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', true);
        });
        $('.uncheck-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', false);
        });
    });

    //===================================================================================
    // Delete all checked items.
    //===================================================================================
    $(document).on("click", "[id*='btnMultipleDelete']", function(){
        var folderId = $("#ID").val();
        var valueArray = [];
        var url = "";
        var dataSource = $("#DataSource").val();

        //DEBUG
        alert("CLICKED");

        $("#section-folder-item-container input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        url = '@Url.Action("FolderItemsDelete", "Taxonomy")';

        $.get(url, {folderId: folderId, folderItemIdList: valueArray.toString(), dataSource: dataSource })
            .done(function (response) {
                $("#section-folder-item-container").html(response);
        });
    });

</script>

