@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.AccountManagement.AccountManagementHomeViewModel 
@{
    ViewBag.Title = "Account Management Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #section-filter-alphabetic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*background-color: rgb(50,50,50);*/
        justify-content: space-around;
    }

        #section-filter-alphabetic button {
            background-color: #367fa9;
            border:none;
            color: white;
            margin-left: 3px;
            margin-right: 3px;
            margin-top: 3px;
            margin-bottom: 3px;
            padding: 4px;
            font-size: 14px;
            /*border: 1px solid black;*/
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            flex-grow: 1;
        }

    /*#tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(50,50,50);
        justify-content: space-around;
    }

        #tabs button {
            background-color: #666666;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 18px;
            border: 1px solid black;
            -webkit-transition-duration: 0.4s;*/ /* Safari */
            /*transition-duration: 0.4s;
            cursor: pointer;
            flex-grow: 1;
        }*/

</style>

<div class="row">
    <div class="col-md-3">
        <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Add New GRIN User</a>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Search and Filter</h3>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="">
                <div class="input-group" style="padding:8px;">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat">Search</button>
                    </span>
                </div>
                
                <div id="section-filter-alphabetic-DEBUG" style="padding:8px; margin-bottom:5px;">
                
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">A</button>
                        <button type="button" class="btn btn-default">B</button>
                        <button type="button" class="btn btn-default">C</button>
                        <button type="button" class="btn btn-default">D</button>
                        <button type="button" class="btn btn-default">E</button>
                        <button type="button" class="btn btn-default">F</button>
                        <button type="button" class="btn btn-default">G</button>
                        <button type="button" class="btn btn-default">H</button>
                        <button type="button" class="btn btn-default">J</button>
                        <button type="button" class="btn btn-default">K</button>
                        <button type="button" class="btn btn-default">L</button>
                        <button type="button" class="btn btn-default">M</button>
                        <button type="button" class="btn btn-default">N</button>
                        <button type="button" class="btn btn-default">O</button>
                        <button type="button" class="btn btn-default">P</button>
                        <button type="button" class="btn btn-default">Q</button>
                        <button type="button" class="btn btn-default">R</button>
                        <button type="button" class="btn btn-default">S</button>
                        <button type="button" class="btn btn-default">T</button>
                        <button type="button" class="btn btn-default">U</button>
                        <button type="button" class="btn btn-default">V</button>
                        <button type="button" class="btn btn-default">W</button>
                        <button type="button" class="btn btn-default">X</button>
                        <button type="button" class="btn btn-default">Y</button>
                        <button type="button" class="btn btn-default">Z</button>
                        <button type="button" class="btn btn-default">All</button>


                    </div>
                    
                </div>
                
                
                
                
                
                
                
                </div>
            <!-- /.box-body -->
        
        
        
            <div class="box-body no-padding" style="">

                
            </div>
        
        </div>
        <!-- /. box -->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Users</h3>
            </div>
            <div class="box-body no-padding">
                <div id="section-user-pick-list">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="1" class="active">
                            <a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a>
                        </li>
                        <li id="2"><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Cassandra.Knecht@ars.usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Chance.Tennant@ars.usda.gov</a></li>


                        <li><a href="#"><i class="fa fa-user"></i>christina.walters@ars.usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> benjamin.haag@usda.gov</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="callout callout-info">
            <h4>@Model.SysUser.UserName</h4>
            <p>@Model.SysUser.CreatedDate.ToShortDateString(), Last Modified @Model.SysUser.ModifiedDate.ToShortDateString()</p>
        </div>

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_sys_user" data-toggle="tab" aria-expanded="true">System User</a></li>
                <li class=""><a href="#tab_web_user" data-toggle="tab" aria-expanded="false">Web User</a></li>
                @*<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>*@
            </ul>
            <div id="section-passwords" class="tab-content">
                <div class="row">
                    <div class="col-md-4">
                        <label>Username</label>
                        @Html.TextBoxFor(x => x.SysUser.UserName, new { @class="form-control" })
                    </div>
                    <div class="col-md-4">
                        <label>Password</label>
                        @Html.TextBoxFor(x => x.SysUser.Password, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_cooperator" data-toggle="tab" aria-expanded="true">Cooperator</a></li>
                    <li class=""><a href="#tab_web_cooperator" data-toggle="tab" aria-expanded="false">Web Cooperator</a></li>
                    @*<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>*@
                </ul>
                <div id="section-cooperator" class="tab-content">
                    <div class="tab-pane active" id="tab_cooperator">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Email</label>
                                @Html.TextBoxFor(x => x.Cooperator.EmailAddress, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-4">
                                <label>last Name</label>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_web_cooperator">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Email</label>
                            </div>
                            <div class="col-md-4">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-4">
                                <label>last Name</label>
                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Groups</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                            <i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">28 mins ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">11 hours ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">15 hours ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">Yesterday</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">2 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">2 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">2 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">2 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">2 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">4 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">12 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">12 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">14 days ago</td>
                                </tr>
                                <tr>
                                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                    <td class="mailbox-subject">
                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                    </td>
                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    <td class="mailbox-date">15 days ago</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                            <i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>


<!-- Page Script -->
<script type="text/javascript">

    $(document).ready(function(){
        var link = '@Url.Action("ActiveUsers", "AccountManagement")';
        $("#section-active-users").load(link);
    });

    $(function () {
        $('#section-user-pick-list ul.nav li').on('click', function () {

            // Highlight selected user control
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            // Call method that retrieves details for selected user
            var id = $(this).attr('id');
            //DEBUG
            alert("SELECTED " + id);
        });
    });

    //$(".nav-pills li").click(function () {
    //    var id = $(this).attr('id');
        
    //});

    @*$(".selector-tab").click(function () {
        var id = $(this).attr('id');
        var action = $(this).attr('title');
        var link = '@Url.Action("Action", "AccountManagement")';
        var displaySection = '';

       
        // Clear any checked items.
        $('.mailbox-messages input:checkbox').prop('checked', false);

        //if (action != '') {
        //    displaySection = "#" + id.replace("tab", "section");
        //    link = link.replace("Action", action);
        //    $(displaySection).load(link);
        //}
    });*@

    $("#btnSearch").click(function () {
        var value = $("#txtCropName").val();
        var url = '@Url.Action("CropSearch", "Taxonomy")';

        $.get(url, { searchText: value })
        .done(function (response) {
            $("#section-search-results").html(response);
        });
    });

    $("#btnCreateFolderSearchResults").click(function () {
        var valueArray = [];
        var title = "";
        var category = "Crop";
        var source = "";

        $('#modal-add-search-results-to-folder').modal('hide');

        title = $("#txtSearchResultsFolderTitle").val();

        //$("#section-search-results input:checked").each(function () {
        $(".active input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        $.ajax({
            url: '@Url.Action("AddToFolder","Taxonomy")',
            type: "GET",
            data: {folderId: 0, folderTitle: title, category: category, source: 'taxonomy_cwr_crop', values:valueArray.toString() },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

            }
        });
    });

</script>