@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CropWildRelativeEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="section-data-list">
    @using (Html.BeginForm("CropWildRelativeEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
    {
        @Html.ValidationSummary()

        <!-- DETAILS SECTION -->
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Detail TEST</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <img src="~/Content/img/bars-blk.png" />
                    @*<i class="fa fa-minus"></i>*@
                </button>
            </div>
        </div>

        


            @Html.HiddenFor(x => x.ID, new { @id = "hfCropWildRelativeID" })
            @Html.HiddenFor(x => x.ModifiedByCooperatorID)

            <div class="box-body">
                @if (Model.ID > 0)
                {
                    <div class="row">
                        <div class="col-md-12">

                            <div class="callout callout-warning form-status-holder" id="status-holder" style="vertical-align:middle;">
                                TEST
                            </div>




                            <div class="callout callout-info" style="vertical-align:middle;">
                                @*<img src="~/Content/img/info.png" style="margin:0px;" />*@
                                @Html.Raw(Model.RevisionHistoryText)
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <input type="button" class="btn btn-success pull-right" style="margin-right:5px;" value="Save" />
                        @*<input type="button" class="btn btn-default pull-right" style="margin-right:5px;" value="Annotate..." />
                        <input type="button" class="btn btn-default pull-right" style="margin-right:5px;" value="Map to Crop..." />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ID</label>
                                    <div class="col-sm-10">
                                        <span class="label label-default">@Model.ID</span>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="txtSpeciesName" class="col-sm-2 control-label">Species Name</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" id="txtSpeciesName" disabled="" value="@Model.SpeciesName" class="form-control" />
                                            @Html.HiddenFor(x => x.SpeciesID, new { id = "hfSpeciesID" })
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-species-search">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtCropName" class="col-sm-2 control-label">Crop Name</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.CropName, new { @name = "CropName", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.CropName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtCommonName" class="col-sm-2 control-label">Common Name</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.CropCommonName, new { @name = "CropCommonName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Display Name</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.DisplayName, new { @name = "DisplayName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label"> </label>
                                    <div class="col-sm-10">
                                        @Html.CheckBoxFor(x => x.IsCrop)<label style="margin-left:10px;">Is Crop</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Genepool Code</label>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(x => x.GenepoolCode, Model.GenepoolCodes, "Select a value", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Is Graftstock</label>
                                    <div class="col-sm-10">
                                        @Html.CheckBoxFor(x => x.IsGraftStockGenepool)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Trait Class Code</label>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(x => x.TraitClassCode, Model.TraitClassCodes, "Select a value", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Is Potential</label>
                                    <div class="col-sm-10">
                                        @Html.CheckBoxFor(x => x.IsPotential)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Breeding Type Code</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => x.BreedingTypeCode, Model.BreedingTypeCodes, "Select a value", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Breeding Usage</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.BreedingUsage, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDisplayName" class="col-sm-2 control-label">Ontology Trait Identifier</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.OntologyTraitIdentifier, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtSpeciesName" class="col-sm-2 control-label">Citation</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" disabled="" class="form-control" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-citation-search">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtSpeciesName" class="col-sm-2 control-label">Note</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Note, new { @id = "txtNote", @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-note-search">...</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
            =====================================================================================
             MODALS
            =====================================================================================
            -->
                <div class="modal fade" id="modal-species-search">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Species Search</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="txtSearchSpecies" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearchSpecies" class="btn btn-info btn-flat">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="section-species-search-results">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-note-search">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Note Search</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="txtSearchNotes" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearchNotes" class="btn btn-info btn-flat">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="section-note-search-results">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                @*<button type="button" id="btn-set-protologue" class="btn btn-primary">Select</button>*@
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-author-search">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Author Search</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="txtSearchAuthors" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearchAuthors" class="btn btn-info btn-flat">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="section-author-search-results">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                @*<button type="button" id="btn-set-protologue" class="btn btn-primary">Select</button>*@
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
        }
    </div>

<script type="text/javascript">
 
    $(document).ready(function () {
        var timeoutId;
        $('form input, form textarea').on('input propertychange change', function () {
            console.log('Textarea Change');

            clearTimeout(timeoutId);
            timeoutId = setTimeout(function () {
                // Runs 1 second (1000 ms) after the last change    
                saveToDB();
            }, 1000);
        });

        function saveToDB() {
            console.log('Saving to the db');
            
            $('#status-holder').html('Saving...');

            //$('#frmEdit').submit();
            document.frmEdit.submit();

            var url = @Url.Action()

            $.ajax({
                url: "/echo/json/",
                type: "POST",
                data: form.serialize(), // serializes the form's elements.
                beforeSend: function (xhr) {
                    // Let them know we are saving
                    $('.form-status-holder').html('Saving...');
                },
                success: function (data) {
                    var jqObj = jQuery(data); // You can get data returned from your ajax call here. ex. jqObj.find('.returned-data').html()
                    // Now show them we saved and when we did
                    var d = new Date();
                    $('.form-status-holder').html('Saved! Last: ' + d.toLocaleTimeString());
                },
            });*@

            var d = new Date();
            $('#status-holder').html('Saved! Last: ' + d.toLocaleTimeString());

        }

        // This is just so we don't go anywhere  
        // and still save if you submit the form
        //$('.contact-form').submit(function (e) {
        //    saveToDB();
        //    e.preventDefault();
        //});

















        //$('form').dirtyForms({
        //    dialog: { title: 'Wait!' },
        //    message: 'You forgot to save your details. If you leave now, they will be lost forever.'
        //});
    });
   
    //$(window).bind('beforeunload', function () {
    //    if (unsaved) {
    //        return "DEBUG You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
    //    }
    //});

    function saveDraft() {
        alert("SAVING");
    }

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

    function SelectSpecies(ID, speciesText) {

        //DEBUG
        alert("SPECIES " + ID + ", " + speciesText);


        $('#modal-species-search').modal('hide');
        $("#txtSpeciesName").val(speciesText);
        $("#hfSpeciesID").val(ID);
    }

    function SelectProtologue(ID, protologueText) {
        $('#modal-protologue-search').modal('hide');
        $("#txtProtologue").val(protologueText);
        $("#hfProtologueID").val(ID)
    }

    function SelectAuthor(ID, authorFullName) {
        $('#modal-author-search').modal('hide');
        $("#txtAuthority").val(authorFullName);
        $("#hfAuthorityID").val(ID)
    }

    function SelectNote(ID, noteText) {
        $('#modal-note-search').modal('hide');

        alert("SELECTED NOTE " + noteText);


        $("#txtNote").val(noteText);
        //$("#hfNoteID").val(ID)
    }

    $(".proto").click(function () {
        event.preventDefault();
        alert("DEBUG PROTO SEL");
    });

    function hide_modal() {
        $('#modal-genus-search').modal('hide');

        // TO DO

        //alert("GENUS SELECTED");
    }

    $("#btnSearchSpecies").click(function () {

        //var url = "https://npgsdev.ars-grin.gov/Admin/Taxonomy/FindSpecies/";
        var url = '@Url.Action("FindSpecies","Taxonomy")';
        var inputSearchString = $("#txtSearchSpecies").val();

        $.post(url, { searchString: inputSearchString })
            .done(function (response) {
                $("#section-species-search-results").html(response);
        });
    });

    $("#btnSearchAuthors").click(function () {

        var url = "/Taxonomy/Species/FindAuthors/";
        var inputSearchString = $("#txtSearchAuthors").val();

        $.post(url, { searchString: inputSearchString })
            .done(function (response) {
                $("#section-author-search-results").html(response);
        });
    });

    $("#btnSearchNotes").click(function () {

        var url = "/Taxonomy/FindCropWildRelativeNotes/";
        var inputSearchString = $("#txtSearchNotes").val();

        $.post(url, { searchString: inputSearchString })
            .done(function (response) {
                $("#section-note-search-results").html(response);
        });
    });

</script>





