@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CWRMapSearchViewModel

<div style="margin-top:15px;">
    <div class="mailbox-controls">
        <button type="button" class="btn btn-success btn-sm check-all-search-results">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm uncheck-all-search-results">
            <i class="fa fa-check-square"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CWRMapEdit", "Taxonomy", new { cropId = Model.CropID })'">
            <i class="fa fa-plus"></i>
        </button>
        <button type="button" id="btnDeleteMultiple" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i>
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
    <div class="table-responsive mailbox-messages">
        <table id="data-list-crops" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th width="5%"></th>
                    <th>ID</th>
                    <th>Common Name</th>
                    <th>Crop?</th>
                    <th>Graftstock?</th>
                    <th>Potential?</th>
                    <th>Genepool</th>
                    <th>Created</th>
                    <th>By</th>
                    <th>Last Modified</th>
                    <th>By</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CWRMaps != null)
                {
                    if (Model.CWRMaps.Count > 0)
                    {
                        foreach (var cwrMap in Model.CWRMaps)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="form-check-input" style="position: absolute; opacity:1;" id="@cwrMap.ID">
                                </td>
                                <td>
                                    <span class="label label-default">@cwrMap.ID</span>
                                </td>
                                <td>
                                    @cwrMap.CommonName
                                </td>
                                <td>
                                    @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsCrop.ToString()))
                                </td>
                                <td>
                                    @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsGraftStock.ToString()))
                                </td>
                                <td>
                                    @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsPotential.ToString()))
                                </td>
                                <td>
                                    @cwrMap.GenepoolCode
                                </td>
                                <td>
                                    @cwrMap.CreatedDate.ToShortDateString()
                                </td>
                                <td>
                                    @cwrMap.CreatedByCooperatorName
                                </td>
                                <td>
                                    @if (cwrMap.ModifiedDate != DateTime.MinValue)
                                    {
                                        @cwrMap.ModifiedDate.ToShortDateString()
                                    }
                                </td>
                                <td>
                                    @cwrMap.ModifiedByCooperatorName
                                </td>
                                <td>
                                    <a href="@Url.Action("CwrMapDelete", "Taxonomy", new { cropId = Model.CropID, cropMapid = cwrMap.ID })" class="btn btn-danger btn-sm pull-right row-edit" style="margin-left:5px;">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <a href="@Url.Action("CwrMapEdit", "Taxonomy", new {cropId = Model.CropID, cwrMapId = cwrMap.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                        
                                </td>
                            </tr>
                        }
                    }
                    else
                    { 
                        <tr>
                            <td colspan="12">
                                <div class="callout callout-info" style="vertical-align:middle; margin-top:20px;">
                                    No records found.
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('.check-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', true);
        });
        $('.uncheck-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', false);
        });
    });
</script>

