@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CWRMapListViewModel

@if ((Model.Action != "Parent") && (Model.Action != "Folder") && (Model.Format != 3))
{
<div class="mailbox-controls">
    <button type="button" id="btnSelectAll" class="btn btn-default btn-sm">
        <i class="fa fa-check"></i>
    </button>
    <button type="button" id="btnDeSelectAll" class="btn btn-default btn-sm">
        <i class="fa fa-check-circle-o"></i>
    </button>
    <button type="button" id="btnAddFolder" class="btn btn-primary btn-sm">
        <i class="fa fa-folder"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("FamilyEdit", "Taxonomy", new { id = 0 })'">
        <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-cwr-trait-edit">
        <i class="fa fa-plus"></i> Add Trait
    </button>
    <div class="pull-right">
        <button type="button" disabled class="btn btn-default btn-sm">
            Export
        </button>
    </div>
</div>
}
<table id="data-table" class="table table-responsive table-striped" style=" width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Common Name</th>
            <th>CWR Crop Name</th>
            <th>Species Name</th>
            <th>Is Crop?</th>
            <th>Graftstock?</th>
            <th>Potential?</th>
            <th>Genepool</th>
            <th>Last Modified</th>
            <th>By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CWRMaps != null)
        {
            if (Model.CWRMaps.Count() > 0)
            {
                foreach (var cwrMap in Model.CWRMaps)
                {
                    <tr>
                        <td>
                            <span class="badge">@cwrMap.ID</span>
                        </td>
                        <td>
                            @cwrMap.CommonName
                        </td>
                        <td>@cwrMap.CropForCWRName</td>
                        <td>@cwrMap.SpeciesName</td>
                        <td>
                            @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsCrop.ToString()))
                        </td>
                        <td>
                            @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsGraftStock.ToString()))
                        </td>
                        <td>
                            @Html.Raw(DisplayHelper.GetDisplayString(cwrMap.IsPotential.ToString()))
                        </td>
                        <td>
                            @cwrMap.GenepoolCode
                        </td>
                        <td>
                            @if (cwrMap.ModifiedDate != DateTime.MinValue)
                            {
                                @cwrMap.ModifiedDate.ToShortDateString()
                            }
                        </td>
                        <td>
                            @cwrMap.ModifiedByCooperatorName
                        </td>
                        <td>
                            <a href="@Url.Action("CwrMapDelete", "Taxonomy", new { cropMapid = cwrMap.ID })" class="btn btn-danger btn-sm pull-right row-edit" style="margin-left:5px;">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            <a href="@Url.Action("CwrMapEdit", "Taxonomy", new { cwrMapId = cwrMap.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            @if (Model.Action == "Folder")
                            {
                                <button id="btnDeleteFolderItem_@cwrMap.ReferenceID" class="btn btn-danger btn-sm pull-right row-edit margin-r-5">
                                    <i class="fa fa-trash"></i> Remove From Folder
                                </button>
                            }
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12">
                        <div class="callout callout-info" style="vertical-align:middle; margin-top:20px;">
                            No records found.
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#data-table').DataTable(
        {
            responsive: true,
            select: true,
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        table.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        table.rows().deselect();
                    }
                }
            ]
        }
    );
</script>

