@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CWRMapHomeViewModel
@{
    ViewBag.Title = "Taxonomy: CWR Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================================================================== -->
<!-- TABBED VIEW -->
<!-- ============================================================================================== -->
<div class="box box-primary" style="padding:10px;">
    @*<div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>*@

    <div class="box-header with-border">
        <h3 class="box-title">CWR Map</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="background-color:#ebebeb;">
                    <a href="#tab_1" id="tab-my-records" title="CWRMapListByUser" class="selector-tab" data-toggle="tab" aria-expanded="true">By User</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_2" id="tab-recently-added" title="CWRMapListRecent" class="selector-tab" data-toggle="tab" aria-expanded="false">Recently Modified</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_3" id="tab-search" title="" class="selector-tab" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- ============================================================================================== -->
                <!-- BY-USER TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-horizontal">
                                    <label>Created By</label>
                                    @Html.HiddenFor(x => Model.DefaultCooperatorID, new { id = "hfDefaultCooperatorID" })
                                    @Html.DropDownListFor(x => x.DefaultCooperatorID, Model.Cooperators, null, new { @id = "ddlSelectCooperator", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div id="section-by-user">
                        </div>
                    </div>
                </div>

                <!-- ============================================================================================== -->
                <!-- RECENTLY-ADDED TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane" id="tab_2">
                    <div class="box-body">
                        <div id="section-recently-added">
                        </div>
                    </div>
                </div>

                <!-- ============================================================================================== -->
                <!-- SEARCH TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane" id="tab_3">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-7" style="padding-left:0px;">
                                        <div class="input-group" style="margin-left:0px;">
                                            <input type="text" id="txtSearchText" name="SearchText" placeholder="Type name ..." class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch" class="btn btn-primary btn-flat">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="section-search-results" class="crop-search-results">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================================================== -->
<!-- ADD-TO-FOLDER MODAL -->
<!-- ============================================================================================== -->
<div class="modal fade" id="modal-add-search-results-to-folder">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="hfFolderCategory" value="" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add to Folder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_new_folder" data-toggle="tab" aria-expanded="true">New Folder</a></li>
                                <li class=""><a href="#tab_select_folder" data-toggle="tab" aria-expanded="false">Saved Folders</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_new_folder">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="txtSearchResultsFolderTitle" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnCreateFolderSearchResults" class="btn btn-info btn-flat">Create</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_select_folder">
                                    <div class="alert alert-warning">
                                        <h4><i class="icon fa fa-warning"></i>Please Note</h4>
                                        This functionality will be available in the next release.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!--
=====================================================================================
CWR-TRAIT MODAL
=====================================================================================
-->
<div class="modal fade" id="modal-cwr-trait">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply CWR Trait to Selected Records</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Trait Class</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => Model.CWRTraitViewModel.TraitClassCode, Model.CWRTraitViewModel.TraitClassCodes, "Select a trait class code", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Breeding Type</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.CWRTraitViewModel.BreedingTypeCode, Model.CWRTraitViewModel.BreedingTypeCodes, "Select a breeding type code", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Breeding Usage</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CWRTraitViewModel.BreedingUsageNote, new { @id = "txtBreedingUsageNote", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Ontology Trait Identifier</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CWRTraitViewModel.OntologyTraitIdentifier, new { @id = "txtOntologyTraitIdentifier", @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveTrait" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<!-- Page Script -->
<script type="text/javascript">
    
    $(document).ready(function () {
        var cooperatorId = $("#hfDefaultCooperatorID").val();
        $("#ddlSelectCooperator").val(cooperatorId);
        DisplayRecordsByCooperator(cooperatorId);
    });

    $(".selector-tab").click(function () {
        var id = $(this).attr('id');
        var action = $(this).attr('title');
        var link = '@Url.Action("Action", "Taxonomy")';
        var displaySection = '';

        $('.mailbox-messages input:checkbox').prop('checked', false);

        if (action != '') {
            displaySection = "#" + id.replace("tab", "section");
            link = link.replace("Action", action);
            $(displaySection).load(link);
        }
    });

     $(document).on("click", "[id*='btnSearch']", function () {
        var value = $("#txtSearchText").val();

        var url = '@Url.Action("CWRMapSearch", "Taxonomy")';

        $.get(url, { searchText: value })
        .done(function (response) {
            $("#section-search-results").html(response);
        });
    });

    $("#btnCreateFolderSearchResults").click(function () {
        var valueArray = [];
        var title = "";
        var category = "Crop";
        var source = "";

        $('#modal-add-search-results-to-folder').modal('hide');

        title = $("#txtSearchResultsFolderTitle").val();

        $(".active input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        $.ajax({
            url: '@Url.Action("AddToFolder","Taxonomy")',
            type: "GET",
            data: {folderId: 0, folderTitle: title, dataSource: 'taxonomy_cwr_map', values:valueArray.toString() },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

            },
            error: function () {
                //alert("error");
            }
        });
    });

     $("#btnSaveTrait").click(function () {
        var valueArray = [];
        var traitClassCode = "";
        var breedingTypeCode = "";
        var breedingUsageNote = "";
        var ontologyTraitIdentifier = "";

        $('#modal-cwr-trait').modal('hide');

        traitClassCode = $("#CWRTraitViewModel_TraitClassCode").val();
        breedingTypeCode = $("#CWRTraitViewModel_BreedingTypeCode").val();
        breedingUsageNote = $("#txtBreedingUsageNote").val();
        ontologyTraitIdentifier = $("#txtOntologyTraitIdentifier").val();

         $(".mailbox-messages input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        $.ajax({
            url: '@Url.Action("ApplyCWRTrait","Taxonomy")',
            type: "GET",
            data: { traitClassCode: traitClassCode, breedingTypeCode: breedingTypeCode, breedingUsageNote: breedingUsageNote, ontologyTraitIdentifier: ontologyTraitIdentifier, cwrMapIdList:valueArray.toString() },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var link = '@Url.Action("CWRMapListByUser", "Taxonomy")';
                $("#section-my-records").load(link);
            }
        });
     });

    $("#ddlSelectCooperator").change(function () {
        var cooperatorId = $(this).val();
        DisplayRecordsByCooperator(cooperatorId);
    });

    function DisplayRecordsByCooperator(cooperatorId)
    {
        var link = '@Url.Action("CWRMapListByUser", "Taxonomy")';

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { cooperatorId : cooperatorId },
                success:
                    function (response) {
                        $("#section-by-user").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

</script>