@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CWRMapHomeViewModel
@{
    ViewBag.Title = "Taxonomy: CWR Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("FamilyEdit","Taxonomy")" class="btn btn-primary btn-block margin-bottom">
            <i class="fa fa-plus"></i>
            New
        </a>
    </div>
</div>


<!-- ============================================================================================== -->
<!-- SEARCH CRITERIA -->
<!-- ============================================================================================== -->
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">New Search</a></li>
                <li><a href="#tab_2" data-toggle="tab">Saved Searches</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div id="section-search-criteria">
                        @Html.HiddenFor(x => x.DataSourceName)
                        @using (Html.BeginForm("FamilySearch", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
                        {
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group form-horizontal">
                                        <label>Created By</label>
                                        @Html.DropDownListFor(x => x.CreatedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-horizontal">
                                        <label>Name</label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-horizontal">
                                        <label>Note</label>
                                        @Html.TextBoxFor(x => x.Note, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-horizontal">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <input id="btnReset" type="button" class="btn btn-danger" value="Clear" />
                                <input id="btnSearch" type="button" class="btn btn-default" value="Search" />
                            </div>
                        }
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">

                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</div>

<!-- ============================================================================================== -->
<!-- SEARCH RESULTS -->
<!-- ============================================================================================== -->
<div class="box box-default" style="padding:10px;">
    <div class="box-header with-border">
        <h3 class="box-title">Search Results</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div id="section-search-results">

        </div>
    </div>
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
















<!--
=====================================================================================
CWR-TRAIT MODAL
=====================================================================================
-->
<div class="modal fade" id="modal-cwr-trait">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply CWR Trait to Selected Records</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Trait Class</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => Model.CWRTraitViewModel.TraitClassCode, Model.CWRTraitViewModel.TraitClassCodes, "Select a trait class code", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Breeding Type</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.CWRTraitViewModel.BreedingTypeCode, Model.CWRTraitViewModel.BreedingTypeCodes, "Select a breeding type code", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:1.2rem;">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Breeding Usage</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CWRTraitViewModel.BreedingUsageNote, new { @id = "txtBreedingUsageNote", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Ontology Trait Identifier</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.CWRTraitViewModel.OntologyTraitIdentifier, new { @id = "txtOntologyTraitIdentifier", @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveTrait" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@{ Html.RenderAction("_FolderModal", "Taxonomy", new { id = Model.ID, context = "taxononomy_family" }); }

<!-- Page Script -->
<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        $(".overlay").hide();
    }

    $(document).on({
        ajaxStart: function () {
            $(".overlay").show();
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });
    

     $("#btnSaveTrait").click(function () {
        var valueArray = [];
        var traitClassCode = "";
        var breedingTypeCode = "";
        var breedingUsageNote = "";
        var ontologyTraitIdentifier = "";

        $('#modal-cwr-trait').modal('hide');

        traitClassCode = $("#CWRTraitViewModel_TraitClassCode").val();
        breedingTypeCode = $("#CWRTraitViewModel_BreedingTypeCode").val();
        breedingUsageNote = $("#txtBreedingUsageNote").val();
        ontologyTraitIdentifier = $("#txtOntologyTraitIdentifier").val();

         $(".mailbox-messages input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        $.ajax({
            url: '@Url.Action("ApplyCWRTrait","Taxonomy")',
            type: "GET",
            data: { traitClassCode: traitClassCode, breedingTypeCode: breedingTypeCode, breedingUsageNote: breedingUsageNote, ontologyTraitIdentifier: ontologyTraitIdentifier, cwrMapIdList:valueArray.toString() },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var link = '@Url.Action("CWRMapListByUser", "Taxonomy")';
                $("#section-my-records").load(link);
            }
        });
     });
    
</script>