@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.FamilyListViewModel

@if ((Model.Action != "Parent") && (Model.Action != "Folder") && (Model.Format != 3))
{
    <div class="mailbox-controls">
        <button type="button" id="btnSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" id="btnDeSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check-circle-o"></i>
        </button>
        <button type="button" id="btnAddFolder" class="btn btn-primary btn-sm">
            <i class="fa fa-folder"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("FamilyEdit", "Taxonomy", new { id = 0 })'">
            <i class="fa fa-plus"></i>
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
}

<table id="data-table" class="table table-striped table-responsive" style=" width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tribe</th>
            <th>Subtribe</th>
            <th>Last Modified</th>
            <th>By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var family in Model.Families)
        {
            <tr>
                <td>
                    <span class="badge">@family.ID</span>
                </td>
                <td>
                    @family.Name
                </td>
                <td>
                    @family.TribeName
                </td>
                <td>
                    @family.SubTribeName
                </td>
                <td>
                    @if (family.ModifiedDate > DateTime.MinValue)
                    {
                        @family.ModifiedDate.ToShortDateString()
                    }
                </td>
                <td>
                    @family.ModifiedByCooperatorName
                </td>
                <td>
                    <a href="@Url.Action("FamilyEdit", "Taxonomy", new { id = family.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    @if (Model.Action == "Folder")
                    {
                        <button id="btnDeleteFolderItem_@family.ReferenceID" class="btn btn-danger btn-sm pull-right row-edit margin-r-5">
                            <i class="fa fa-trash"></i> Remove From Folder
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#data-table').DataTable(
        {
            responsive: true,
            select: true,
            buttons: [
                {
                    text: 'Select all',
                    action: function () {
                        table.rows().select();
                    }
                },
                {
                    text: 'Select none',
                    action: function () {
                        table.rows().deselect();
                    }
                }
            ]
        }
    );
</script>