@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.FolderEditViewModel
<div class="modal fade" id="modal-folder-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="hfFolderCategory" value="" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add to Folder</h4>
            </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.ItemIDList)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_new_folder" data-toggle="tab" aria-expanded="true">New Folder</a></li>
                                    <li class=""><a href="#tab_select_folder" data-toggle="tab" aria-expanded="false">Saved Folders</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_new_folder">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    @Html.TextBoxFor(x => x.Title, new  { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                Select
                                                                <span class="fa fa-caret-down"></span>
                                                            </button>
                                                            <ul id="folder-category-list" class="dropdown-menu folder-category">
                                                            <li><a href="#">Benjamin's Category</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Separated link</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /btn-group -->
                                                        @Html.TextBoxFor(x => x.Category, new {@class="form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_select_folder">
                                        <div class="alert alert-warning">
                                            <h4><i class="icon fa fa-warning"></i>Please Note</h4>
                                            This functionality will be available in the next release.
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="input-group-btn">
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger btn-flat">Cancel</button>
                        <button type="button" id="btnSaveFolder" class="btn btn-info btn-flat">Save</button>
                    </span>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">

    $("#btnAddSelectedItemsToFolder").click(function () {
        var folderTitle = "";
        var folderCategory = "";
        var folderDescription = "";
        var isShared = false;

        // Get selected rows
        var table = $('#tblSpeciesDataTest').DataTable();
        var data = table.rows({ selected: true }).data();

        var newarray = [];
        for (var i = 0; i < data.length; i++) {
            newarray.push(data[i]["ID"]);
        }
        var sData = newarray.join();

        folderTitle = $("#txtFolderTitle").val();
        folderCategory = $("#txtFolderCategory").val();
        folderDescription = $("#txtFolderDescription").val();

        $('#modal-add-items-to-folder').modal('hide');
    });

    @*$("#btnAddSelectedItemsToFolder").click(function () {
        var valueArray = [];
        var folderTitle = "";
        var folderCategory = "";
        var folderDescription = "";
        var isShared = false;
        var dataSourceName = "";
        var dataSourceTitle = "";

        $('#modal-add-search-results-to-folder').modal('hide');

        folderTitle = $("#txtFolderTitle").val();
        folderCategory = $("#txtFolderCategory").val();
        folderDescription = $("#txtFolderDescription").val();
        //TODO isShared = ;
        dataSourceName = $("#DataSourceName").val();
        dataSourceTitle = $("#DataSourceTitle").val();

        // Get selected rows
        var table = $('#tblSpeciesDataTest').DataTable();
        var data = table.rows({ selected: true }).data();

        var newarray = [];
        for (var i = 0; i < data.length; i++) {
            newarray.push(data[i]["ID"]);
        }
        var sData = newarray.join();

        $.ajax({
            url: '@Url.Action("AddToFolder","Taxonomy")',
            type: "GET",
            data: {folderId: 0, folderTitle: folderTitle, folderCategory: folderCategory, folderDescription: folderDescription, isShared: isShared, dataSourceName: dataSourceName, dataSourceTitle: dataSourceTitle, values:sData.toString() },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

            },
            error: function () {
                alert("Error occured during AJAX request.");
            }
        });
    });*@
</script>