@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.AuthorEditViewModel

@{
    ViewBag.Title = TempData["page_title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
======================================================================================================
REVISION HISTORY
======================================================================================================
-->
@if (Model.ID > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="vertical-align:middle;">
                @Html.Raw(Model.RevisionHistoryText)
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("AuthorEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.DataSourceName)
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title"><a name="section-detail"></a>Summary</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.ValidationSummary()
            @Html.Raw(Model.ErrorMessage)

            <div class="row" style="margin-top:.9em;">
                <div class="col-md-3">
                    <label>Short Name</label>
                    @Html.TextBoxFor(x => x.ShortName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ShortName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <label>Full Name</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Short Name Expanded Diacritic</label>
                    @Html.TextBoxFor(x => x.ShortNameExpandedDiacritic, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Full Name Expanded Diacritic</label>
                    @Html.TextBoxFor(x => x.FullNameExpandedDiacritic, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top:1.0em;">
                    <label>Note</label>
                    @Html.TextAreaFor(x => x.Note, new { @id = "txtNote", @class = "form-control" })
                    <script>
                        CKEDITOR.replace('txtNote');
                    </script>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-note-search">
                    <i class="fa fa-search"></i>
                    Search Notes...
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Save Edits
                </button>
            </div>
        </div>
    </div>
}
