@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.AccessRightsManagement.UserProfileViewModel
<a href="#" class="btn btn-primary btn-block disabled"><b>Edit Profile</b></a>
<br />
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">My Cooperator Record</h3>
    </div>
    <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="https://npgsweb.ars-grin.gov/gringlobal/images/admin/user-default.png" alt="User profile picture">
        <h3 class="profile-username text-center">@Model.AuthenticatedUser.Cooperator.FirstName  @Model.AuthenticatedUser.Cooperator.LastName</h3>
        <p class="text-muted text-center">@Model.AuthenticatedUser.Cooperator.Job</p>
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Email</b> <a class="pull-right">@Model.AuthenticatedUser.Cooperator.EmailAddress</a>
            </li>
            <li class="list-group-item">
                <b>Primary Phone</b> <a class="pull-right">@Model.AuthenticatedUser.Cooperator.PrimaryPhoneNumber</a>
            </li>
            <li class="list-group-item">
                <b>Organization</b> <a class="pull-right">@Model.AuthenticatedUser.Cooperator.Organization</a>
            </li>
            <li class="list-group-item">
                <b>Site</b> <a class="pull-right">@Model.AuthenticatedUser.Cooperator.Site.ShortName</a>
            </li>
        </ul>

        <strong><i class="fa fa-map-marker margin-r-5"></i>Address</strong>

        <p class="text-muted"><a href=""></a></p>
        <p>
            @Model.AuthenticatedUser.Cooperator.Address.AddressLine1<br />
            @Model.AuthenticatedUser.Cooperator.Address.AddressLine2<br />
            @Model.AuthenticatedUser.Cooperator.Address.AddressLine3<br />
            @Model.AuthenticatedUser.Cooperator.Address.City, @Model.AuthenticatedUser.Cooperator.Address.State   @Model.AuthenticatedUser.Cooperator.Address.ZIP<br />
        </p>
    </div>
    <!-- /.box-body -->
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">My Groups</h3>
    </div>
    <div class="box-body box-profile">
        <strong><i class="fa fa-pencil margin-r-5"></i>Member of</strong>

        <p>
            @foreach (var group in Model.AuthenticatedUser.Groups)
            {
                <span class="label label-info" style="display:inline-block; font-size: 12px; margin-bottom: .3em;"><a href="" style="color:white;">@group.GroupTag</a></span>
            }
        </p>
    </div>
</div>

