@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GGTools | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>GGTools</b>@DisplayHelper.GetVersion() Login</a>
        </div>
        <!-- /.login-logo -->

        @{
            string loginTabCSSClass = String.Empty;
            string loginNavCSSClass = String.Empty;
            string passwordResetTabCSSClass = String.Empty;
            string passwordResetNavCSSClass = String.Empty;

            if (Model.Action == "PasswordReset")
            {
                loginTabCSSClass = "tab-pane";
                passwordResetNavCSSClass = "active";
                passwordResetTabCSSClass = "tab-pane active";
            }
            else
            {
                loginTabCSSClass = "tab-pane active";
                loginNavCSSClass = "active";
                passwordResetTabCSSClass = "tab-pane";
            }
        }

        <div class="login-box-body">
            @*<div id="btn-container" style="margin-bottom:20px;">
                <button class="btn btn-default btn-block btn-sm btn-flat" data-toggle="modal" data-target="#modal-release-notes">
                    Release @DisplayHelper.GetVersion() Notes
                </button>
            </div>*@

            @*<p class="login-box-msg">Log in using your <strong>GRIN-Global Admin</strong> user name and password.</p>*@
            @if (!String.IsNullOrEmpty(Model.Status) && Model.Status != USDA.ARS.GRIN.Admin.Service.LoginResult.SUCCESS.ToString())
            {
                <div class="alert alert-danger">
                    <h4 style="margin-bottom:0px; margin-top:0px; padding-bottom:0px; padding-top:0px;">Login Error</h4>
                    @Model.ErrorMessage
                </div>
            }
        <form action="@Url.Action("Login","User")" method="post">
            <label>Select Server</label>
            <div class="form-group has-feedback">
                <select id="ddlSelectEnvironment" name="Environment" class="form-control">
                    <option value="LOCAL">Local</option>
                    @*<option value="DEVELOPMENT">Development</option>*@
                    @*<option value="TEST">Test</option>*@
                    <option value="TRAINING">Training</option>
                    <option value="PRODUCTION">Production</option>
                </select>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.UserName, new { @placeholder = "Enter GRIN-Global user name", @class = "form-control" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.Password, new { @placeholder = "Enter GRIN-Global password", @type = "password", @class = "form-control" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block btn-flat disabled">
                        Reset Password
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="submit" id="btnInitiateLogin" class="btn btn-primary btn-block btn-flat" >Sign In</button>
                </div>
            </div>

            <!-- ================================================================== -->
            <!-- DECLARATION MODAL -->
            <!-- ================================================================== -->
            <!--<div class="modal fade" id="modal-declaration">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Official Notice</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                You are accessing a U.S. Government information system, which includes (1) this computer, (2) this computer network,
                                (3) all computers connected to this network, and (4) all devices and storage media attached to this network
                                or to a computer on this network.  This information system is provided for U.S. Government-authorized use only.
                                Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties.
                            </p>
                            <p>
                                By using this information system, you understand and consent to the following:
                                You have no reasonable expectation of privacy regarding any communications or data transiting or stored on
                                this information system. At any time, the government may for any lawful government purpose monitor,
                                intercept, search, and seize any communication or data transiting or stored on this information system.
                                Any communications or data transiting or stored on this information system may be disclosed or
                                used for any lawful government purpose.
                            </p>
                            <p>
                                Your consent is final and irrevocable.  You may not rely on any statements or informal policies
                                purporting to provide you with any expectation of privacy regarding communications on this system,
                                whether oral or written, by your supervisor or any other official, except USDA's Chief Information Officer.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary pull-right"></button>
                        </div>
                    </div>-->
                    <!-- /.modal-content -->
                <!--</div>-->
                <!-- /.modal-dialog -->
            <!--</div>-->
        </form>
            <div class="row">
                <div class="col-xs-12" style="margin-top:20px;">
                    <a href="@Url.Action("AccountRequest")" class="btn btn-success btn-block disabled"button>I would like to request a new Curator account.</a>
                    @*<button disabled="" class="btn btn-primary btn-block btn-flat pull-right">Request New Account</button>*@
                </div>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>

    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.js"></script>
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
    <script>

        $("#ddlSelectEnvironment").val("TRAINING");

          //$(function () {
          //  $('input').iCheck({
          //    checkboxClass: 'icheckbox_square-blue',
          //    radioClass: 'iradio_square-blue',
          //    increaseArea: '20%' /* optional */
          //  });
          //});
    </script>
</body>
</html>

