@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GGTools | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>GGTools</b>@DisplayHelper.GetVersion() Login</a>
        </div>
        <!-- /.login-logo -->

        @{
            string loginTabCSSClass = String.Empty;
            string loginNavCSSClass = String.Empty;
            string passwordResetTabCSSClass = String.Empty;
            string passwordResetNavCSSClass = String.Empty;

            if (Model.Action == "PasswordReset")
            {
                loginTabCSSClass = "tab-pane";
                passwordResetNavCSSClass = "active";
                passwordResetTabCSSClass = "tab-pane active";
            }
            else
            {
                loginTabCSSClass = "tab-pane active";
                loginNavCSSClass = "active";
                passwordResetTabCSSClass = "tab-pane";
            }
        }

        <div class="login-box-body">
            @*<div id="btn-container" style="margin-bottom:20px;">
                <button class="btn btn-default btn-block btn-sm btn-flat" data-toggle="modal" data-target="#modal-release-notes">
                    Release @DisplayHelper.GetVersion() Notes
                </button>
            </div>*@

            @*<p class="login-box-msg">Log in using your <strong>GRIN-Global Admin</strong> user name and password.</p>*@
            @if (!String.IsNullOrEmpty(Model.Status) && Model.Status != USDA.ARS.GRIN.Admin.Service.LoginResult.SUCCESS.ToString())
            {
                <div class="alert alert-danger">
                    <h4 style="margin-bottom:0px; margin-top:0px; padding-bottom:0px; padding-top:0px;">Login Error</h4>
                    @Model.ErrorMessage
                </div>
            }
            <form action="@Url.Action("Login","User")" method="post">
                <label>Select Server</label>
                <div class="form-group has-feedback">
                    <select name="environment" class="form-control">
                        @*<option value="LOCAL">Local</option>*@
                        @*<option value="PRODCOPY">Prod-Copy</option>*@
                        <option value="DEVELOPMENT">Development</option>
                        @*<option value="TEST">Test</option>*@
                        <option value="TRAINING">Training</option>
                        <option value="PRODUCTION">Production</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" name="userName" class="form-control" placeholder="User name">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary btn-block btn-flat disabled">
                            Reset Password
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12" style="margin-top:20px;">
                    <a href="@Url.Action("AccountRequest")" class="btn btn-success btn-block disabled"button>I would like to request a new Curator account.</a>
                    @*<button disabled="" class="btn btn-primary btn-block btn-flat pull-right">Request New Account</button>*@
                </div>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>


    <div class="modal fade" id="modal-release-notes">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Release Notes</h4>
                </div>
                <div class="modal-body">


                    <div class="csg-wrapper" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 14px; font-weight: 400; line-height: 24px; vertical-align: baseline;">
                        <h1 class="csg-h1" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 23px; line-height: 1.1034; margin-top: 40px; letter-spacing: -0.01em;">Release notes - NGRL DBMU Initiatives - Version GGTools 1.1.3</h1><h3 class="csg-h3" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 16px; line-height: 1.2; margin-top: 32px; font-weight: 500; letter-spacing: -0.008em;">Bug</h3><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;">
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-223" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-223</a> CWR Map Edit Page -- Error When Selecting Species
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-222" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-222</a> Crop For CWR Edit Page -- Error When Adding New CWR Map
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-221" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-221</a> All Edit Pages: Hide ID Field If Editing New Unsaved Record
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-220" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-220</a> Crop For CWR List Views Need DataTable Logic
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-199" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-199</a> Species Home Page "My Records" Shows No Records
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-177" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-177</a> On CWR Map Home Page, All Records Show "Is Crop" as "Yes"
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-169" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-169</a> Change "Recent" Setting to "Past Month" In All Lists
                        </p><h3 class="csg-h3" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 16px; line-height: 1.2; margin-top: 32px; font-weight: 500; letter-spacing: -0.008em;">Task</h3><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;">
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-197" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-197</a> Enlarge Font of ID Numbers on Edit Pages
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-180" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-180</a> On CWR Map Edit Page, Only Show "Common Name' Field if "Is Crop" is "Yes"
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-178" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-178</a> All Lists Must Use Standard DataTable Functions (Sort, Paging)
                            <br>
                            <a href="https://ngrl-dbmu.atlassian.net/browse/NDI-175" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-175</a> Citation Lookup Must Filter by Species and its Synonyms
                        </p>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.js"></script>
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
    <script>
          //$(function () {
          //  $('input').iCheck({
          //    checkboxClass: 'icheckbox_square-blue',
          //    radioClass: 'iradio_square-blue',
          //    increaseArea: '20%' /* optional */
          //  });
          //});
    </script>
</body>
</html>

