<div class="box box-widget widget-user-2">
    Add the bg color to the header using any of the bg-* classes
    <div class="widget-user-header bg-orange-active">
        <div class="widget-user-image">
            <img class="img-circle" src="" alt="User Avatar">
        </div>-->
        /.widget-user-image
        <h3 class="widget-user-username">@Html.Raw(@Model.CropForCWR.CropName)</h3>
        <h5 class="widget-user-desc"><strong>Crop for CWR</strong></h5>
    </div>
    <div class="box-footer">
        @if (!String.IsNullOrEmpty(Model.CWRMap.GenepoolCode))
        {
            <strong><i class="fa fa-chain margin-r-5"></i>Genepool</strong>
            <p class="text-muted">
                @Html.Raw(Model.CWRMap.GenepoolCode)
            </p>
        }

        <strong><i class="fa fa-leaf margin-r-5"></i>Is Crop</strong>
        <p class="text-muted">
            @Html.Raw(DisplayHelper.GetBooleanDisplayString(Model.CWRMap.IsCrop))
        </p>
        @if (Model.CWRMap.IsCrop)
        {
            <strong><i class="fa fa-leaf margin-r-5"></i>Common Name</strong>
            <p class="text-muted">
                @Html.Raw(Model.CWRMap.CommonName)
            </p>
        }
        <strong><i class="fa fa-book margin-r-5"></i>Graftstock?</strong>
        <p class="text-muted">
            @Html.Raw(DisplayHelper.GetBooleanDisplayString(Model.CWRMap.IsGraftStock))
        </p>
        <strong><i class="fa fa-book margin-r-5"></i>Potential?</strong>
        <p class="text-muted">
            @Html.Raw(DisplayHelper.GetBooleanDisplayString(Model.CWRMap.IsPotential))
        </p>
        <a href="@Url.Action("CWRCropEdit","Taxonomy", new { @id = Model.CropForCWR.ID })" class="btn btn-default">Go to Crop</a>
        <a href="@Url.Action("CWRMapEdit","Taxonomy", new { @id = Model.CWRMap.ID })" class="btn btn-default">Go to Map</a>
    </div>
</div>
