@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CropForCWRListViewModel
@if ((Model.Action != "Parent") && (Model.Action != "Folder") && (Model.Format != 3))
{
    <div class="mailbox-controls">
        <button type="button" id="btnSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" id="btnDeSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check-circle-o"></i>
        </button>
        <button type="button" id="btnAddFolder" class="btn btn-primary btn-sm">
            <i class="fa fa-folder"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("FamilyEdit", "Taxonomy", new { id = 0 })'">
            <i class="fa fa-plus"></i>
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
}
<table id="data-table-crops-for-cwr" class="table table-responsive table-striped" style=" width:100%;">
    <thead>
        <tr>
            <th width="5%"></th>
            <th>Name</th>
            <th>Note</th>
            <th>Last Modified</th>
            <th>Modified By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CropsForCWR != null)
        {
            if (Model.CropsForCWR.Count() > 0)
            {
                foreach (var cropForCWR in Model.CropsForCWR)
                {
                    <tr>
                        <td>
                            <span class="badge">@cropForCWR.ID</span>
                        </td>
                        <td>
                            @cropForCWR.CropName
                        </td>
                        <td>
                            @Html.Raw(cropForCWR.Note)
                        </td>
                        <td>
                            @if (cropForCWR.ModifiedDate > DateTime.MinValue)
                            {
                                @cropForCWR.ModifiedDate.ToShortDateString()
                            }
                        </td>
                        <td>
                            @cropForCWR.ModifiedByCooperatorName
                        </td>
                        <td>
                            <a href="@Url.Action("CropForCWREdit", "Taxonomy", new { id = cropForCWR.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            @if (Model.Action == "Folder")
                            {
                                <button id="btnDeleteFolderItem_@cropForCWR.ReferenceID" class="btn btn-danger btn-sm pull-right row-edit margin-r-5">
                                    <i class="fa fa-trash"></i> Remove From Folder
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#data-table-crops-for-cwr').DataTable(
        {
            responsive: true,
            select: true,
        }
    );
</script>
