@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CropForCWRSearchViewModel
@using System.Data.SqlClient;

    <div style="margin-top:15px;">
        <div class="mailbox-controls">
            <button type="button" class="btn btn-success btn-sm check-all-search-results">
                <i class="fa fa-check"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm uncheck-all-search-results">
                <i class="fa fa-check-circle-o"></i>
            </button>
            <button type="button" id="btnAddSearchResultsToFolder" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-add-search-results-to-folder">
                <i class="fa fa-folder"></i>
            </button>
            @*<button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CropSearch", "Taxonomy")'">
                <img src="~/Content/img/fa-search-plus.png" style="width:18px; height:18px;" />
            </button>*@
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CropForCWREdit", "Taxonomy", new { id = 0 })'">
                <i class="fa fa-plus"></i>
            </button>
            <div class="pull-right">
                <button type="button" disabled class="btn btn-default btn-sm">
                    Export
                </button>
            </div>
        </div>
        <div class="table-responsive mailbox-messages">

            @if (Model.CropsForCWR.Count() > 0)
            {
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th>ID</th>
                            <th>Crop Name</th>
                            <th>Created</th>
                            <th>By</th>
                            <th>Last Modified</th>
                            <th>By</th>
                            <th>Related CWR Maps</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.CropsForCWR.Count() > 0)
                            {
                                foreach (var crop in Model.CropsForCWR)
                                {
                                    string modifiedDateString = String.Empty;
                                    if (crop.ModifiedDate != DateTime.MinValue)
                                    {
                                        modifiedDateString = crop.ModifiedDate.ToShortDateString();
                                    }

                                    <tr>
                                        <td>
                                            <input type="checkbox" class="form-check-input" style="position: absolute; opacity:1;" id="@crop.ID">
                                        </td>
                                        <td>
                                            <span class="label label-default">@crop.ID</span>
                                        </td>
                                        <td>
                                            @crop.CropName
                                        </td>
                                        <td>
                                            @crop.CreatedDate.ToShortDateString()
                                        </td>
                                        <td>
                                            @crop.CreatedByCooperatorName
                                        </td>
                                        <td>
                                            @modifiedDateString
                                        </td>
                                        <td>
                                            @crop.ModifiedByCooperatorName
                                        </td>
                                        <td style="text-align:center;">
                                            @if (@crop.CropWildRelativeCount > 0)
                                            {
                                                <span class="label label-success">@crop.CropWildRelativeCount</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CropForCWREdit", "Taxonomy", new { id = crop.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                        }
                    </tbody>
                </table>
            }
            else
            {
                @*<div class="callout callout-info" style="vertical-align:middle; margin-top:20px;">
                    <img src="~/Content/img/info.png" style="margin:0px;" />
                    
                </div>*@

                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                    Your search returned no matches.
                </div>
            }
        </div>
    </div>


<script>
    $(function () {
        $('.check-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', true);
        });
        $('.uncheck-all-search-results').on('click', function () {
            $('.mailbox-messages input:checkbox').prop('checked', false);
        });
    });

   

</script>