@model List<USDA.ARS.GRIN.Admin.Models.Taxonomy.Species>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Accepted?</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var species in Model)
            {
                <tr>
                    <td><span class="label label-default">@species.ID</span></td>
                    <td>@species.Name</td>
                    <td>@Html.Raw(DisplayHelper.GetBooleanDisplayString(species.IsAcceptedName))</td>
                    <td>@species.Authority</td>
                    <td><button id="btnAuthor1" value="@species.Name" class="btn btn-primary btn-small proto" onclick="SelectSpecies(@species.ID, this.value);return false;">Select</button></td>
                </tr>
            }
        }
        else
        {
            <div class="callout callout-info" style="vertical-align:middle; margin-top:5px;">
                @*<img src="~/Content/img/info.png" style="margin:0px;" />*@
                Your search returned no matches.
            </div>
        }
    </tbody>
</table>
