<div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-olive-active">
        @*<div class="widget-user-image">
                <img class="img-circle" src="" alt="User Avatar">
            </div>*@
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">@Html.Raw(Model.Species.Name)</h3>
        <h5 class="widget-user-desc"><strong>Species</strong></h5>
    </div>
    <div class="box-footer">
        <strong><i class="fa fa-leaf margin-r-5"></i>Genus</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.GenusName)
        </p>
        <strong><i class="fa fa-leaf margin-r-5"></i>Family</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.FamilyName)
        </p>
        <strong><i class="fa fa-book margin-r-5"></i>Place of Publication</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.Protologue)
        </p>
        <button class="btn btn-default ">Go To Species</button>
    </div>
</div>
<!-- SPECIES WIDGET -->
<!--<div class="box box-widget widget-user-2">-->
<!-- Add the bg color to the header using any of the bg-* classes -->
<!--<div class="widget-user-header bg-olive-active">-->
@*<div class="widget-user-image">
        <img class="img-circle" src="" alt="User Avatar">
    </div>*@-->
<!--<!-- /.widget-user-image -->
<!--<h3 class="widget-user-username">@Html.Raw(Model.Species.Name)</h3>
        <h5 class="widget-user-desc"><strong>Species</strong></h5>
    </div>
    <div class="box-footer">
        <strong><i class="fa fa-leaf margin-r-5"></i>Genus</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.GenusName)
        </p>
        <strong><i class="fa fa-leaf margin-r-5"></i>Family</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.FamilyName)
        </p>
        <strong><i class="fa fa-book margin-r-5"></i>Place of Publication</strong>
        <p class="text-muted">
            @Html.Raw(Model.Species.Protologue)
        </p>
        <a href="@Url.Action("SpeciesEdit","Taxonomy", new { @id = Model.SpeciesID })" class="btn btn-default">Go To Species</a>
    </div>
</div>-->
