@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.SpeciesEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
======================================================================================================
REVISION HISTORY
======================================================================================================
-->
@if (Model.ID > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="vertical-align:middle;">
                @Html.Raw(Model.RevisionHistoryText)
            </div>
        </div>
    </div>
}

@if (Model.VerifierCooperatorID > 0)
{ 
<div class="callout callout-success">
    <p><strong>Verified by</strong> @Model.VerifiedByCooperatorName <strong>on</strong> @Model.NameVerifiedDate.ToShortDateString()</p>
</div>
}

<div class="row" style="padding-bottom:10px;">
    <div class="col-md-12">
        @if (Model.ID > 0)
        {
            

            

            @*<a class="btn btn-app">
                <i class="fa fa-save"></i> Save
            </a>
            <a class="btn btn-app">
                <span class="badge bg-yellow">3</span>
                <i class="fa fa-bullhorn"></i> Notifications
            </a>
            <a class="btn btn-app">
                <span class="badge bg-green">300</span>
                <i class="fa fa-barcode"></i> Products
            </a>
            <a class="btn btn-app">
                <span class="badge bg-purple">891</span>
                <i class="fa fa-users"></i> Users
            </a>
            <a class="btn btn-app">
                <span class="badge bg-teal">67</span>
                <i class="fa fa-inbox"></i> Orders
            </a>
            <a class="btn btn-app">
                <span class="badge bg-aqua">12</span>
                <i class="fa fa-envelope"></i> Inbox
            </a>
            <a class="btn btn-app">
                <span class="badge bg-red">531</span>
                <i class="fa fa-heart-o"></i> Likes
            </a>*@

            @*<a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, context = "syn" })" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <i class="fa fa-exchange"></i>
                Synonym
            </a>
            <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, context = "sub" })" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <i class="fa fa-leaf"></i>
                Subspecies
            </a>
            <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, context = "var" })" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <i class="fa fa-leaf"></i>
                Variety
            </a>
            <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, context = "for" })" class="btn btn-default">
                <i class="fa fa-plus"></i>
                <i class="fa fa-leaf"></i>
                Form
            </a>
            <button type="button" id="btnAddCitation" class="btn btn-default" data-toggle="modal" data-target="#modal-citation-search">
                <i class="fa fa-plus"></i>
                <i class="fa fa-book"></i>
                Citation
            </button>
            <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, genusId = Model.GenusID, })" class="btn btn-default disabled">
                <i class="fa fa-plus"></i>
                <i class="fa fa-money"></i>
                Economic Use
            </a>
            <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, genusId = Model.GenusID, })" class="btn btn-default disabled">
                <i class="fa fa-plus"></i>
                <i class="fa fa-globe"></i>
                Geography
            </a>*@
        }
    </div>
    <div class="col-md-3">
        
        @if ((Model.ID > 0) && (Model.VerifierCooperatorID <= 0))
        {
            <button id="btnVerify" type="button" class="btn btn-success pull-right" style="margin-right:.2em;">
                <i class="fa fa-check"></i>
                Verify
            </button>
        }
    </div>
</div>

@using (Html.BeginForm("SpeciesEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.CurrentID)
    @Html.HiddenFor(x => x.DataSourceName)
    @Html.HiddenFor(x => x.Context)
    <div class="box box-default">
        <div class="box-header">
            <h3 id="section-summary" class="box-title">Summary</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.ValidationSummary()
            @Html.Raw(Model.ErrorMessage)

            <a class="btn btn-app">
                <i class="fa fa-leaf"></i> + Synonym
            </a>
            <a class="btn btn-app">
                <i class="fa fa-leaf"></i> + Variety
            </a>
            <a class="btn btn-app">
                <i class="fa fa-leaf"></i> Subvariety
            </a>
            <a class="btn btn-app">
                <i class="fa fa-leaf"></i> Subspecies
            </a>
            <a class="btn btn-app">
                <i class="fa fa-book"></i> Citation
            </a>
            <a class="btn btn-app">
                <i class="fa fa-globe"></i> Geography
            </a>
            <a class="btn btn-app">
                <i class="fa fa-dollar"></i> Economic Use
            </a>
            <a class="btn btn-app">
                <i class="fa fa-address-book"></i> Common Names
            </a>
            <a class="btn btn-app">
                <span class="badge bg-green">12</span>
                <i class="fa fa-barcode"></i> Products
            </a>

            @if (Model.IsSynonym)
            {
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-app">
                            <i class="fa fa-leaf"></i> + Synonym
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-leaf"></i> + Variety
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-leaf"></i> Subvariety
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-leaf"></i> Subspecies
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-book"></i> Citation
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-globe"></i> Geography
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-dollar"></i> Economic Use
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-address-book"></i> Common Names
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Synonym of</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { @id = Model.CurrentID })" class="btn btn-default btn-flat">
                                    <i class="fa fa-link"></i>
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-species-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Synonym Type</label>
                        @Html.DropDownListFor(x => x.SynonymCode, Model.SynonymCodes, "Select type", new { @class = "form-control" })
                    </div>
                </div>
            }
            <div class="row pad-top">
                <div class="col-md-4">
                    <label>Genus</label>
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.GenusName, new { @class = "form-control" })
                        @Html.HiddenFor(x => x.GenusID)

                        @if (Model.GenusID > 0)
                        {
                            <span class="input-group-btn">
                                <a href="@Url.Action("GenusEdit", "Taxonomy", new { @id = Model.GenusID })" class="btn btn-default btn-flat">
                                    <i class="fa fa-link"></i>
                                </a>
                            </span>
                        }
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-genus-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(x => x.GenusName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @if (Model.Context == "var")
                    {
                        <label>Variety Name</label>
                        @Html.TextBoxFor(x => x.VarietyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.VarietyName, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        if (Model.Context == "sub")
                        {
                            <label>Subspecies Name</label>
                            @Html.TextBoxFor(x => x.SubSpeciesName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubSpeciesName, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            if (Model.Context == "for")
                            {
                                <label>Form Name</label>
                                @Html.TextBoxFor(x => x.FormaName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.FormaName, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                <label>Name</label>
                                @Html.TextBoxFor(x => x.SpeciesName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.SpeciesName, "", new { @class = "text-danger" })
                            }
                        }
                    }
                </div>
                <div class="col-md-4">
                    @if (Model.Context == "var")
                    {
                        <label>Variety Authority</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.VarietyAuthority, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-author-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    }
                    else
                    {
                        if (Model.Context == "sub")
                        {
                            <label>Subspecies Authority</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.SubSpeciesAuthority, new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-author-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        }
                        else
                        {
                            if (Model.Context == "for")
                            {
                                <label>Forma Authority</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.FormaAuthority, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-author-search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <label>Name Authority</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Authority, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-author-search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-4">
                    <label>Protologue</label>
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.Protologue, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-protologue-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Species Authority</label>
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.Authority, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-author-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label>Hybrid Options</label>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.IsSpecificHybrid, new { id = "cbxIsSpecificHybrid", style = "margin-left:5x;" })
                            Specific
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <label style="color:white;">Hybrid</label>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.IsSubSpecificHybrid, new { id = "cbxIsSubSpecificHybrid", style = "margin-left:5x;" })
                            Subspecific
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <label style="color:white;">Hybrid Options</label>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.IsVarietalHybrid, new { id = "cbxIsVarietalHybrid", style = "margin-left:5x;" })
                            Varietal
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <label style="color:white;">Hybrid Options</label>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.IsSubVarietalHybrid, new { id = "cbxIsVarietalHybrid", style = "margin-left:5x;" })
                            SubVarietal
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-12">
                    <label>Note</label>
                    @Html.TextAreaFor(x => x.Note, new { @id = "txtNote", @class = "form-control" })
                    <script>
                        CKEDITOR.replace('txtNote');
                    </script>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-note-search">
                <i class="fa fa-search"></i>
                Search Notes...
            </button>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">
                <i class="fa fa-save"></i>
                Save Edits
            </button>
        </div>
    </div>

    if (Model.ID > 0)
    {
        <!--
        ======================================================================================================
        SYNONYMS
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 id="section-top-synonyms" class="box-title">Synonyms</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-synonyms">

                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, genusId = Model.GenusID, })" class="btn btn-default">
                    <i class="fa fa-leaf"></i>
                    Add Synonym
                </a>
                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-genus-search">
                        <i class="fa fa-chain"></i>
                        Link Synonym
                    </button>*@
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>

        <!--
        ======================================================================================================
        SUBTAXA
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 id="section-top-subtaxa" class="box-title">Subtaxa</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-subtaxa">

                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, genusId = Model.GenusID, })" class="btn btn-default">
                    <i class="fa fa-leaf"></i>
                    Add Synonym
                </a>
                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-genus-search">
                        <i class="fa fa-chain"></i>
                        Link Synonym
                    </button>*@
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>


        <!--
        ======================================================================================================
        CITATIONS
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 id="section-top-citations" class="box-title">Related Citations</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-citations">

                </div>
            </div>
            <div class="box-footer">
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>

        <!--
        ======================================================================================================
        USAGE
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-economic-uses"></a>Economic Uses</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-economic-uses">

                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnAddUse" class="btn btn-default" data-toggle="modal" data-target="#modal-economic-use">
                    <i class="fa fa-money"></i>
                    Add Economic Use
                </button>
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>
        <!--
        ======================================================================================================
        GEOGRAPHY
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-related-citations"></a>Related Geographies</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-geographies">

                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnAddGeography" class="btn btn-default" data-toggle="modal" data-target="#modal-geography-search">
                    <i class="fa fa-globe"></i>
                    Add Geography
                </button>
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>
    }
}

@{ Html.RenderAction("_SpeciesSearchModal", "Taxonomy"); }
@{ Html.RenderAction("_GenusSearchModal", "Taxonomy"); }
@{ Html.RenderAction("_AuthorSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_ProtologueSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_NoteSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_CitationSearchModal", "Taxonomy", new { taxonId = Model.ID, dataSourceName = "taxononomy_species" }); }

<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        try {
            GetCitations("Species", "taxonomy_species");
            GetSynonyms();
        }
        catch (ex) {
            console.log(ex);
        }
    }

    $(document).on("click", "[id='btnVerify']", function () {
        $("#Context").val("verify");
        $("#frmEdit").submit();
    });

    $(document).on("click", "[id='btnSave']", function () {
        $("#frmEdit").submit();
    });

    function GetSynonyms() {
        var speciesId = $("#ID").val();
        var link = '@Url.Action("SpeciesSearch", "Taxonomy")';
        var formData = new FormData();

        try {
            formData.append("CurrentID", speciesId);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-synonyms").html(response);
                }
            });
        }
        catch (ex) {
            console.log(ex);
        }
    }

     /*
    ===========================================================================
    CITATION SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchCitations']", function () {
        var dataSourceName = $("#DataSourceName").val();
        var citationText = $("#FullText").val();

        var link = '@Url.Action("CitationSearch", "Taxonomy")';
        var formData = new FormData();
        try {
            formData.append("ResultsFormat", 2);
            formData.append("DataSourceName", dataSourceName);
            formData.append("FullText", citationText);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-citation-search-results").html(response);
                }
            });
        }
        catch (ex) {
            console.log(ex);
        }

    });

    function SelectCitation(id) {
        $('#modal-citation-search').modal('hide');
        $("#CitationID").val(id);
    }

    function GetCitations(taxonName) {
    var taxonId = $("#ID").val();
    var link = '@Url.Action("CitationSearch", "Taxonomy")';
    var formData = new FormData();
    try {
            formData.append(taxonName + "ID", taxonId);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-citations").html(response);
                }
            });
        }
            catch (ex) {
            console.log(ex);
        }
    }

    function AddCitation(citationId) {

        var familyId = $("#ID").val();

        ResetCitationSearch();
        $('#modal-citation-search').modal('hide');

        $.ajax({
            url: '@Url.Action("CitationAdd","Taxonomy")',
            type: "GET",
            data: {citationId: citationId, taxonId: familyId, dataSource: "taxonomy_species" },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                GetCitations("Species","taxonomy_species");
            },
            error: function () {
                alert("error");
            }
        });

    }

    function ResetCitationSearch() {
        $("#FullText").val();
        $("#section-citation-search-results").html();
    }

    /*
    ===========================================================================
    NOTE SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchNotes']", function () {
        var url = '@Url.Action("NoteSearch", "Taxonomy")';
        var dataSourceName = $("#DataSourceName").val();
        var searchText = $("#txtSearchNotes").val();

        $.post(url, { dataSourceName: dataSourceName, searchText: searchText })
            .done(function (response) {
                $("#section-note-search-results").html(response);
            });
    });

    function SelectNote(noteText) {
        $('#modal-note-search').modal('hide');
        CKEDITOR.instances.txtNote.setData(noteText);
    }

    /*
    ===========================================================================
    AUTHOR SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchAuthors']", function () {
        var url = '@Url.Action("AuthoritySearch", "Taxonomy")';
        var dataSourceName = $("#DataSourceName").val();
        var searchText = $("#txtSearchAuthors").val();

        $.post(url, { dataSourceName: dataSourceName, searchText: searchText })
            .done(function (response) {
                $("#section-author-search-results").html(response);
            });
    });

    function SelectAuthor(authorText) {
        $('#modal-author-search').modal('hide');
        $("#Authority").val(authorText);
    }

    /*
    ===========================================================================
    PROTOLOGUE SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchProtologues']", function () {
        var url = '@Url.Action("ProtologueSearch", "Taxonomy")';
        var dataSourceName = $("#DataSourceName").val();
        var searchText = $("#txtSearchProtologues").val();

        $.post(url, { dataSourceName: dataSourceName, searchText: searchText })
            .done(function (response) {
                $("#section-protologue-search-results").html(response);
            });
    });

    function SelectProtologue(protologue) {
        $('#modal-protologue-search').modal('hide');
        $("#Protologue").val(protologue);
    }

    /*
    ===========================================================================
    GENUS MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchGenus']", function () {
        var link = '@Url.Action("GenusSearch", "Taxonomy")';
        var formData = new FormData();
        formData.append("Name", $("#txtSearchGenus").val());
        formData.append("ResultsFormat", "2");

        $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-genus-search-results").html(response);
                }
            });
    });

    function SelectGenus(ID, genusText) {
        $('#modal-genus-search').modal('hide');
        $("#GenusName").val(genusText);
        $("#GenusID").val(ID);
    }
</script>
