@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.SpeciesEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
======================================================================================================
REVISION HISTORY
======================================================================================================
-->
@if (Model.ID > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="vertical-align:middle;">
                @Html.Raw(Model.RevisionHistoryText)
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("GenusEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.CurrentID)
    @Html.HiddenFor(x => x.GenusID)
    @Html.HiddenFor(x => x.DataSourceName)
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title"><a name="section-detail"></a>Summary</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.ValidationSummary()
            @Html.Raw(Model.ErrorMessage)

            @if (Model.IsSynonym)
            {
                <div class="row">
                    <div class="col-md-4">
                        <label>Synonym of</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-species-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { @id = Model.CurrentID })" class="btn btn-primary btn-flat">
                                    <i class="fa fa-link"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            }

        </div>
    </div>

    if (Model.ID > 0)
    {
        <!--
        ======================================================================================================
        SYNONYMS
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-related-synonyms"></a>Synonyms</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-synonyms">

                </div>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("SpeciesEdit", "Taxonomy", new { id = 0, currentId = Model.ID, genusId = Model.GenusID, })" class="btn btn-default">
                    <i class="fa fa-leaf"></i>
                    Add Synonym
                </a>
                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-genus-search">
                        <i class="fa fa-chain"></i>
                        Link Synonym
                    </button>*@
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>

        <!--
        ======================================================================================================
        CITATIONS
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-related-citations"></a>Related Citations</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-citations">

                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnAddCitation" class="btn btn-default" data-toggle="modal" data-target="#modal-citation-search">
                    <i class="fa fa-book"></i>
                    Add Citation
                </button>
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>

        <!--
        ======================================================================================================
        USAGE
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-related-citations"></a>Economic Uses</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-citations">

                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnAddCitation" class="btn btn-default" data-toggle="modal" data-target="#modal-citation-search">
                    <i class="fa fa-money"></i>
                    Add Economic Use
                </button>
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>
        <!--
        ======================================================================================================
        GEOGRAPHY
        ======================================================================================================
        -->
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title"><a name="section-related-citations"></a>Related Geographies</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="section-citations">

                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnAddCitation" class="btn btn-default" data-toggle="modal" data-target="#modal-citation-search">
                    <i class="fa fa-globe"></i>
                    Add Geography
                </button>
            </div>
            @*<div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
        </div>
    }
}

@{ Html.RenderAction("_SpeciesSearchModal", "Taxonomy"); }
@{ Html.RenderAction("_AuthorSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_NoteSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_CitationSearchModal", "Taxonomy", new { taxonId = Model.ID, dataSourceName = "taxononomy_species" }); }

<script type="text/javascript">


     /*
    ===========================================================================
    CITATION SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchCitations']", function () {
        var dataSourceName = $("#DataSourceName").val();
        var citationText = $("#FullText").val();

        var link = '@Url.Action("CitationSearch", "Taxonomy")';
        var formData = new FormData();
        try {
            formData.append("ResultsFormat", 2);
            formData.append("DataSourceName", dataSourceName);
            formData.append("FullText", citationText);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-citation-search-results").html(response);
                }
            });
        }
        catch (ex) {
            console.log(ex);
        }

    });

    function SelectCitation(id) {
        $('#modal-citation-search').modal('hide');
        $("#CitationID").val(id);
    }

    function GetCitations(taxonName) {
    var taxonId = $("#ID").val();
    var link = '@Url.Action("CitationSearch", "Taxonomy")';
    var formData = new FormData();
    try {
            formData.append(taxonName + "ID", taxonId);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-citations").html(response);
                }
            });
        }
            catch (ex) {
            console.log(ex);
        }
    }

    function AddCitation(citationId) {

        var familyId = $("#ID").val();

        ResetCitationSearch();
        $('#modal-citation-search').modal('hide');

        $.ajax({
            url: '@Url.Action("CitationAdd","Taxonomy")',
            type: "GET",
            data: {citationId: citationId, taxonId: familyId, dataSource: "taxonomy_species" },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                GetCitations("Species","taxonomy_species");
            },
            error: function () {
                alert("error");
            }
        });

    }

    function ResetCitationSearch() {
        $("#FullText").val();
        $("#section-citation-search-results").html();
    }
</script>
