@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.SpeciesHomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================================================================== -->
<!-- TABBED VIEW -->
<!-- ============================================================================================== -->
<div class="box box-primary" style="padding:10px;">
    <div class="box-header with-border">
        <h3 class="box-title">Species</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="background-color:#ebebeb;">
                    <a href="#tab_1" id="tab-my-records" title="SpeciesListByUser" class="selector-tab" data-toggle="tab" aria-expanded="true">Created by Me</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_2" id="tab-recently-added" title="SpeciesListRecent" class="selector-tab" data-toggle="tab" aria-expanded="false">Recently Modified</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_3" id="tab-search" title="" class="selector-tab" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- ============================================================================================== -->
                <!-- MY-RECORDS TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                        <div id="section-my-records">
                        </div>
                    </div>
                </div>

                <!-- ============================================================================================== -->
                <!-- RECENTLY-ADDED TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane" id="tab_2">
                    <div class="box-body">
                        <div id="section-recently-added">
                        </div>
                    </div>
                </div>

                <!-- ============================================================================================== -->
                <!-- SEARCH TAB -->
                <!-- ============================================================================================== -->
                <div class="tab-pane" id="tab_3">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-7" style="padding-left:0px;">
                                        <div class="input-group" style="margin-left:0px;">
                                            <input type="text" id="txtName" name="SpeciesName" placeholder="Type all or part of the species name ..." class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch" class="btn btn-primary btn-flat">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="section-search-results" class="crop-search-results">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Taxonomy/Geography/_Search.cshtml");

<!-- Page Script -->
<script type="text/javascript">
    $(document).ready(function(){
        var link = '@Url.Action("SpeciesListByUser", "Taxonomy")';
        $("#section-my-records").load(link);
    });

    $(".selector-tab").click(function () {
        var id = $(this).attr('id');
        var action = $(this).attr('title');
        var link = '@Url.Action("Action", "Taxonomy")';
        var displaySection = '';

        $('.mailbox-messages input:checkbox').prop('checked', false);

        if (action != '') {
            displaySection = "#" + id.replace("tab", "section");
            link = link.replace("Action", action);
            $(displaySection).load(link);
        }
    });

    $("#btnSearch").click(function () {
        var value = $("#txtName").val();
        var url = '@Url.Action("SpeciesSearch", "Taxonomy")';

        $.get(url, { searchText: value })
            .done(function (response) {
            $("#section-search-results").html(response);
            $('#search-results').DataTable({
                'destroy': true,
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });
    });

    $("#select-continents input:checkbox").click(function () {
        var valueArray = [];

        $("#select-continents input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
        }
        );

        $.ajax({
            url: '@Url.Action("GetRegions","Taxonomy")',
            type: "GET",
            data: { continentIds:valueArray.toString() },
            contentType: "application/json;",
            dataType: 'json',
            success: function (result) {
                var items = '';

                $("#select-regions").empty();

                $.each(result, function (i, item) {
                    var liItem = "<li><a href='#'><i class='fa fa-globe'></i>" + item.Name + "<span class='label pull-right'><input id=" + item.ID + " type='checkbox' /></span></a></li>";
                    $("#select-regions").append(liItem);
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });

    $(document).on("click", "#select-regions input:checked", function () {
        var valueArray = [];

        $("#select-regions input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
        }
        );

        $.ajax({
            url: '@Url.Action("GetCountries","Taxonomy")',
            type: "GET",
            data: { regionIds:valueArray.toString() },
            contentType: "application/json;",
            dataType: 'json',
            success: function (result) {
                var items = '';

                $("#select-countries").empty();

                $.each(result, function (i, item) {
                    var liItem = "<li><a href='#'><i class='fa fa-globe'></i>" + item.Title + "<span class='label pull-right'><input id=" + item.Code + " type='checkbox' /></span></a></li>";
                    $("#select-countries").append(liItem);
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });

    $(document).on("click", "#select-countries input:checked", function () {
        var valueArray = [];

        $("#select-countries input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
        }
        );

        $.ajax({
            url: '@Url.Action("GetMunicipalities","Taxonomy")',
            type: "GET",
            data: { countryCodes:valueArray.toString() },
            contentType: "application/json;",
            dataType: 'json',
            success: function (result) {
                var items = '';

                $("#select-municipalities").empty();

                $.each(result, function (i, item) {
                    var liItem = "<li><a href='#'><i class='fa fa-globe'></i>" + item.Name + "<span class='label pull-right'><input id=" + item.ID + " type='checkbox' /></span></a></li>";
                    $("#select-municipalities").append(liItem);
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });
</script>


