@model IQueryable<USDA.ARS.GRIN.Admin.Models.GRINGlobal.WebOrderRequest>

<style>
    .table-striped th {
        background-color: #d2d6de;
    }
</style>

    <div class="box-group" id="accordion">
        @{
            string headerHrefId = String.Empty;
            string bodyId = String.Empty;
        }

        @if (Model.Count() > 0)
        {
            foreach (var webOrderRequest in Model)
            {
                headerHrefId = "#collapse" + webOrderRequest.ID;
                bodyId = "collapse" + webOrderRequest.ID;

                <div class="panel box box-default no-border">
                    <div class="box-header with-border">
                        <h4 class="box-title" style="font-weight:bold;">
                            <a data-toggle="collapse" data-parent="#accordion" href="@headerHrefId" class="collapsed" aria-expanded="false">
                                @webOrderRequest.ID : @webOrderRequest.WebCooperator.LastName, @webOrderRequest.WebCooperator.FirstName (@webOrderRequest.OrderDate.ToShortDateString())
                            </a>
                            <span class="label label-danger" style="margin-left:10px;">Locked by Reisinger, Marty: 12/10/2020 12:00 PM</span>
                        </h4>
                    </div>
                    <div id="@bodyId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <div class="mailbox-controls">
                                <button type="button" id="btn-approve-@webOrderRequest.ID" class="btn btn-success btn-sm check-all-search-results open-modal">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <a href="@Url.Action("Edit", "WebOrder", new { id = webOrderRequest.ID })" class="btn btn-danger btn-sm uncheck-all-search-results">
                                    <i class="fa fa-thumbs-down"></i>
                                </a>
                                <a href="@Url.Action("Edit", "WebOrder", new { id = webOrderRequest.ID })" class="btn btn-default btn-sm uncheck-all-search-results">
                                    <i class="fa fa-book"></i>&nbsp;Review
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Address Line 1</th>
                                                <th>Address Line 2</th>
                                                <th>City</th>
                                                <th>State/Province</th>
                                                <th>Postal Code</th>
                                                <th>Intended Use Code</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>@webOrderRequest.ID</td>
                                            <td>@webOrderRequest.WebCooperator.PrimaryAddress.AddressLine1</td>
                                            <td>@webOrderRequest.WebCooperator.PrimaryAddress.AddressLine2</td>
                                            <td>@webOrderRequest.WebCooperator.PrimaryAddress.City</td>
                                            <td>@webOrderRequest.WebCooperator.PrimaryAddress.State</td>
                                            <td>@webOrderRequest.WebCooperator.PrimaryAddress.ZIP</td>
                                            <td>@webOrderRequest.IntendedUseCode</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Address</strong></h5>
                                    @Html.Raw(webOrderRequest.WebCooperator.PrimaryAddress.GetFormattedAddress())
                                </div>
                                <div class="col-md-10">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1" data-toggle="tab">Intended Use Note</a></li>
                                            <li><a href="#tab_2" data-toggle="tab">Special Instructions</a></li>
                                            <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>

                                            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                <p class="text-muted well well-sm no-shadow">
                                                    @webOrderRequest.IntendedUseNote
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_2">
                                                <p class="text-muted well well-sm no-shadow">
                                                    @webOrderRequest.SpecialInstruction
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_3">
                                                <p class="text-muted well well-sm no-shadow">
                                                    @webOrderRequest.Note
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                                <!-- ORDER ITEMS -->
                                <table class="table table-striped ggtools">
                                    <thead>
                                        <tr>
                                            <th>Seq.</th>
                                            <th>Accession</th>
                                            <th>Species</th>
                                            <th>Status</th>
                                            <th>Site</th>
                                            <th>Qty. Shipped</th>
                                            <th>Distribution Form</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var webOrderRequestItem in webOrderRequest.WebOrderRequestItems)
                                        {
                                            <tr>
                                                <td>@webOrderRequestItem.SequenceNumber</td>
                                                <td><a href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail.aspx?id=@webOrderRequestItem.Accession.ID">@webOrderRequestItem.Accession.Descriptor</a></td>
                                                <td>
                                                    <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomydetail?id=@webOrderRequestItem.Species.ID">@webOrderRequestItem.Species.Name</a>
                                                </td>
                                                <td>@webOrderRequestItem.StatusCode</td>
                                                <td>@webOrderRequestItem.Site.LongName</td>
                                                <td>@webOrderRequestItem.QuantityShipped</td>
                                                <td>@webOrderRequestItem.DistributionForm</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Alert!</h4>
                There are no potential non-research requests (NRR) for your review.
            </div>
        }
    </div>

<script>
    $('.ggtools').DataTable();
</script>
