@model IQueryable<USDA.ARS.GRIN.Admin.Models.GRINGlobal.WebOrderRequest>

    <div class="box-group" id="accordion">
        @{ 
            string headerHrefId = String.Empty;
            string bodyId = String.Empty;
        }

        @foreach (var webOrderRequest in Model)
        {
            headerHrefId = "#collapse" + webOrderRequest.ID;
            bodyId = "collapse" + webOrderRequest.ID;

            <div class="panel box box-default no-border">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="@headerHrefId" class="collapsed" aria-expanded="false">
                            @webOrderRequest.ID (@webOrderRequest.OrderDate.ToShortDateString())
                        </a>
                    </h4>
                </div>
                <div id="@bodyId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">

                        <!-- WEB COOPERATOR -->
                        <h5>Cooperator</h5>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" readonly class="form-control form-control-static" value="@webOrderRequest.WebCooperator.LastName" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" readonly class="form-control form-control-static" value="@webOrderRequest.WebCooperator.FirstName" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <input type="text" readonly class="form-control form-control-static" value="@webOrderRequest.WebCooperator.EmailAddress">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat">Look Up...</button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Organization</label>
                                    <input type="text" readonly class="form-control form-control-static" value="" />
                                </div>
                            </div>
                        </div>

                        <!-- ORDER SUMMARY -->
                        <h5>Order Summary</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Intended Use</label>
                                    <textarea class="form-control" rows="3" readonly value="@webOrderRequest.IntendedUseNote">@webOrderRequest.IntendedUseNote</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Special Instruction</label>
                                    <textarea class="form-control" rows="3" readonly value="@webOrderRequest.SpecialInstruction">@webOrderRequest.SpecialInstruction</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Note</label>
                                    <textarea class="form-control" rows="3" readonly value="@webOrderRequest.Note">@webOrderRequest.Note</textarea>
                                </div>
                            </div>
                        </div>

                        <!-- ORDER ITEMS -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Seq.</th>
                                    <th>Accession</th>
                                    <th>Species</th>
                                    <th>Status</th>
                                    <th>Site</th>
                                    <th>Qty. Shipped</th>
                                    <th>Distribution Form</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var webOrderRequestItem in webOrderRequest.WebOrderRequestItems)
                                {
                                <tr>
                                    <td>@webOrderRequestItem.SequenceNumber</td>
                                    <td>@webOrderRequestItem.Accession.Descriptor</td>
                                    <td>@webOrderRequestItem.Species.Name</td>
                                    <td>@webOrderRequestItem.StatusCode</td>
                                    <td>@webOrderRequestItem.Site.ID</td>
                                    <td>@webOrderRequestItem.QuantityShipped</td>
                                    <td>@webOrderRequestItem.DistributionForm</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        @*<div class="panel box box-default no-border">
            <div class="box-header with-border" style="background-color:#ebebeb;">
                <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                        Web Order Request 10001
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="box-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel box box-default no-border">
            <div class="box-header" style="background-color:#ebebeb; border-color:#ebebeb; border:none;">
                <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                        Web Order Request 10002
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="box-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>*@
    </div>


