@model IQueryable<USDA.ARS.GRIN.Admin.Models.GRINGlobal.WebOrderRequest>

<style>
    .table-striped th {
        background-color: #e2e4ea;
    }
</style>

    <div class="box-group" id="accordion">
        @{
            string headerHrefId = String.Empty;
            string bodyId = String.Empty;
        }

        @if (Model.Count() > 0)
        {
            foreach (var webOrderRequest in Model)
            {
                headerHrefId = "#collapse" + webOrderRequest.ID;
                bodyId = "collapse" + webOrderRequest.ID;

                <div class="panel box box-default no-border">
                    <div class="box-header with-border">
                        
                        <h4 class="box-title" style="font-weight:bold;">

                            @if (webOrderRequest.IsLocked)
                            {
                                <i class="fa fa-lock" style="color:red;"></i>
                            }
                            <a data-toggle="collapse" data-parent="#accordion" href="@headerHrefId" class="collapsed" aria-expanded="false">
                                @webOrderRequest.ID : @webOrderRequest.WebCooperator.FirstName, @webOrderRequest.WebCooperator.LastName, @webOrderRequest.WebCooperator.FirstName (@webOrderRequest.OrderDate.ToShortDateString())
                            </a>
                        </h4>
                    </div>
                    <div id="@bodyId" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <div class="mailbox-controls">
                                
                                @if (webOrderRequest.IsLocked)
                                {
                                <span class="label label-danger" style="margin-left:10px; font-size:1em;">Locked: @webOrderRequest.OwnedDate.ToShortDateString() as of @webOrderRequest.OwnedDate.ToShortTimeString()</span>
                                }

                                <button type="button" id="btnApprove-@webOrderRequest.ID-@webOrderRequest.WebCooperator.ID" class="btn btn-success btn-sm check-all-search-results open-modal">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                                <button type="button" id="btnDeny-@webOrderRequest.ID-@webOrderRequest.WebCooperator.ID" class="btn btn-danger btn-sm check-all-search-results open-modal">
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <a href="@Url.Action("Edit", "WebOrder", new { id = webOrderRequest.ID })" class="btn btn-default btn-sm uncheck-all-search-results">
                                    <i class="fa fa-book"></i>&nbsp;Review
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Address Line 1</th>
                                                <th>Address Line 2</th>
                                                <th>City</th>
                                                <th>State/Province</th>
                                                <th>Postal Code</th>
                                                <th>Intended Use Code</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>@webOrderRequest.ID</td>
                                            <td>@webOrderRequest.WebCooperator.Address.AddressLine1</td>
                                            <td>@webOrderRequest.WebCooperator.Address.AddressLine2</td>
                                            <td>@webOrderRequest.WebCooperator.Address.City</td>
                                            <td>@webOrderRequest.WebCooperator.Address.State</td>
                                            <td>@webOrderRequest.WebCooperator.Address.ZIP</td>
                                            <td>@webOrderRequest.IntendedUseCode</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- ORDER ITEMS -->
                            <table class="table table-striped ggtools">
                                <thead>
                                    <tr>
                                        <th>Seq.</th>
                                        <th>Accession</th>
                                        <th>Species</th>
                                        <th>Status</th>
                                        <th>Site</th>
                                        <th>Qty. Shipped</th>
                                        <th>Distribution Form</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var webOrderRequestItem in webOrderRequest.WebOrderRequestItems)
                                    {
                                        <tr>
                                            <td>@webOrderRequestItem.SequenceNumber</td>
                                            <td><a href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail.aspx?id=@webOrderRequestItem.Accession.ID">@webOrderRequestItem.Accession.Descriptor</a></td>
                                            <td>
                                                <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomydetail?id=@webOrderRequestItem.Species.ID">@webOrderRequestItem.Species.Name</a>
                                            </td>
                                            <td>@webOrderRequestItem.StatusCode</td>
                                            <td>@webOrderRequestItem.Site.LongName</td>
                                            <td>@webOrderRequestItem.QuantityShipped</td>
                                            <td>@webOrderRequestItem.DistributionForm</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Alert!</h4>
                There are no potential non-research requests (NRR) for your review.
            </div>
        }
    </div>

<script>
    $('.ggtools').DataTable();
</script>
