@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestListViewModel

<style>
    .table-striped th {
        background-color: #e2e4ea;
    }
</style>

    <div class="box-group" id="accordion">
        @{
            string headerHrefId = String.Empty;
            string bodyId = String.Empty;
        }

        @if (Model.WebOrderRequests.Count() > 0)
        {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Submitter Name</th>
                    <th>Email</th>
                    <th>Address 1</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Items</th>
                </tr>
            </thead>
            @foreach (var webOrderRequest in Model.WebOrderRequests)
            {
        <tr>
            <td>
                @if (webOrderRequest.IsLocked)
                {
                    <i class="fa fa-eye" style="color:red;"></i>
                }
            </td>
            <td>@webOrderRequest.StatusCode</td>
            <td><span class="badge">@webOrderRequest.ID</span></td>
            <td>@webOrderRequest.WebCooperator.LastName, @webOrderRequest.WebCooperator.FirstName</td>
            <td>@webOrderRequest.WebCooperator.EmailAddress</td>
            <td>@webOrderRequest.WebCooperator.Address.AddressLine1</td>
            <td>@webOrderRequest.WebCooperator.Address.City</td>
            <td>@webOrderRequest.WebCooperator.Address.State</td>
            <td>@webOrderRequest.WebCooperator.Address.ZIP</td>
            <td>@webOrderRequest.WebOrderRequestItems.Count()</td>
        </tr>


            <!-- ORDER ITEMS -->
            <!--<table class="table table-striped ggtools">
                    <thead>
                        <tr>
                            <th>Seq.</th>
                            <th>Accession</th>
                            <th>Species</th>
                            <th>Status</th>
                            <th>Site</th>
                            <th>Qty. Shipped</th>
                            <th>Distribution Form</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
            }
            </table>
        }
        else
        {
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Alert!</h4>
                There are no potential non-research requests (NRR) for your review.
            </div>
        }
</div>

<script>
    $('.ggtools').DataTable();
</script>
