@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ck-editor__editable {
        min-height: 500px !important;
    }

    .email-body-container {
        color:black !important; 
        padding:1em;
    }
</style>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<style>
    .btn {
        margin-left: 5px;
    }
</style>

@using (Html.BeginForm("Edit", "WebOrder", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.Action)
    @Html.HiddenFor(x => x.ActionNote)
    @Html.HiddenFor(x => x.WebCooperator.ID)
    @Html.HiddenFor(x => x.WebCooperator.EmailAddress)
    @Html.HiddenFor(x => x.InformationRequestText)

    string displayModifiedDate = String.Empty;
    if (Model.WebCooperator.ModifiedDate != DateTime.MinValue)
    {
        displayModifiedDate = Model.WebCooperator.ModifiedDate.ToShortDateString();
    }

    if ((Model.IsLocked) && (Model.WebCooperatorID != Model.OwnedByCooperatorID))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="callout callout-info" style="vertical-align:middle;">
                    This web order request is currently being reviewed by
                    <strong>
                        @Model.OwnedByCooperatorName
                    </strong>
                    as of @Model.OwnedDate.ToShortDateString() at @Model.OwnedDate.ToShortTimeString()
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px;">
            @if (Model.IsReviewMode)
            {
                if ((Model.IsLocked) && (Model.WebCooperatorID == Model.OwnedByCooperatorID))
                {
                    <button type="button" id="btn-unlock" class="btn btn-warning pull-right" style="margin-right: 5px;">
                        <i class="fa fa-unlock"></i><span id="button-label">End Review and Unlock</span>
                    </button>
                }
                <input type="button" id="btnDeny" class="btn btn-danger pull-right open-modal" data-toggle="modal" data-target="#modal-deny" value="Deny..." />
                <input type="button" id="btnApprove" class="btn btn-success pull-right open-modal" data-toggle="modal" data-target="#modal-approve" value="Approve..." />
                <input type="button" id="btnAddNote" class="btn btn-default pull-right open-modal" data-toggle="modal" data-target="#modal-note" value="Add Note..." />
                <input type="button" id="btnContactRequestor" class="btn btn-default pull-right open-modal" data-toggle="modal" data-target="#modal-contact-requestor" value="Request Additional Information..." />
            }
            @*<a href="@Url.Action("Index", "WebOrder")" class="btn btn-default">Return to  Home Page</a>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-light-blue">
                    <div class="widget-user-image">
                        <img class="img-circle" src="https://npgsweb.ars-grin.gov/gringlobal/images/admin/user-default.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">@Model.WebCooperator.FullName</h3>
                    <h5 class="widget-user-desc">
                        <a href="@Url.Action("Search","WebOrder", new { @emailAddress = Model.WebCooperator.EmailAddress })" style="color:white; text-decoration:underline;">@Model.WebCooperator.EmailAddress</a>
                    </h5>
                </div>

                <div class="box-body">
                    @if (!String.IsNullOrEmpty(Model.WebCooperator.Organization))
                    {
                        <strong><i class="fa fa-book margin-r-5"></i> Organization</strong>
                        <p class="text-muted">
                            <a href="@Url.Action("Search", "WebOrder", new { @organization = Model.WebCooperator.Organization })">@Model.WebCooperator.Organization</a>
                        </p>
                        <hr>
                    }
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">@Model.WebCooperator.Address.City, @Model.WebCooperator.Address.State</p>
                </div>
                <!-- /.box-body -->
                
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Totals</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @foreach (var total in Model.WebCooperator.Totals)
                        {
                            <li><a href="#">@total.CodeValue<span class="@total.Description">@total.CodeValueID</span></a></li>
                        }
                    </ul>
                </div>              
            </div>

            <!-- TIMELINE -->
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Web Order Actions</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    @if (Model.WebOrderRequestActionGroupViewModels.Count() > 0)
                    {
                        <ul class="timeline timeline-inverse">
                            @foreach (var webOrderRequestActionGroup in Model.WebOrderRequestActionGroupViewModels)
                            {
                                <li class="time-label">
                                    <span class="bg-aqua">
                                        @webOrderRequestActionGroup.ActionDate.ToShortDateString()
                                    </span>
                                </li>

                                foreach (var webOrderRequestAction in webOrderRequestActionGroup.WebOrderRequestActions)
                                {
                                    <li>
                                        <i class="@DisplayHelper.GetWebOrderRequestStatusCSSClass(webOrderRequestAction.ActionCode)"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i>@webOrderRequestAction.ActionDate.ToShortTimeString()</span>
                                            <h3 class="timeline-header">
                                                <strong>@webOrderRequestAction.Title</strong>
                                                @if (webOrderRequestAction.ActionCode == "NRR_NOTE")
                                                {
                                                    <a href="#"> (@webOrderRequestAction.CreatedByCooperatorName) </a>
                                                }
                                            </h3>
                                            <div class="timeline-body">
                                                <p>
                                                    @if (webOrderRequestAction.ActionCode != "NRR_NOTE")
                                                    {
                                                        @webOrderRequestAction.Description
                                                    }
                                                </p>
                                                @if (!String.IsNullOrEmpty(webOrderRequestAction.Note))
                                                {
                                                    <p style="font-style:italic; margin-top:.2em;">
                                                        <strong>@webOrderRequestAction.CreatedByCooperatorName:</strong>
                                                        @webOrderRequestAction.Note
                                                    </p>
                                                }
                                            </div>
                                            @*<div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>*@
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                }
                            }
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <h4 style="padding-bottom:0px; margin-bottom:0px;"><i class="icon fa fa-info"></i>No Actions Found</h4>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <!--
            ===============================================================================================
            WEB COOPERATOR
            ===============================================================================================
            -->
            @*<div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Web Cooperator</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Job</th>
                                <th>Organization</th>
                                <th>Created</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.WebCooperator.Title</td>
                                <td>@Model.WebCooperator.FirstName</td>
                                <td>@Model.WebCooperator.LastName</td>
                                <td>@Model.WebCooperator.EmailAddress</td>
                                <td>@Model.WebCooperator.PrimaryPhoneNumber</td>
                                <td>@Model.WebCooperator.Job</td>
                                <td>@Model.WebCooperator.Organization</td>
                                <td>@Model.WebCooperator.CreatedDate.ToShortDateString()</td>
                                <td>@displayModifiedDate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Request Details</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <!--ORDER-->
                    <label>Web Order Request</label>
                    <table class="table table-hover table-striped ggtools">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Intended Use</th>
                                <th>Submitted</th>
                                <th>Note</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><span class="badge">@Model.ID</span></td>
                                <td>@Model.StatusCode</td>
                                <td>@Model.IntendedUseCode</td>
                                <td>@Model.OrderDate.ToShortDateString()</td>
                                <td>@Model.Note</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- ADDRESSES -->
                    <br />
                    <label>Addresses</label>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Address Line 1</th>
                                <th>Address Line 2</th>
                                <th>Address Line 3</th>
                                <th>City</th>
                                <th>State/Province</th>
                                <th>Postal Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Primary</td>
                                <td>@Model.WebCooperator.Address.AddressLine1</td>
                                <td>@Model.WebCooperator.Address.AddressLine2</td>
                                <td>@Model.WebCooperator.Address.AddressLine3</td>
                                <td>@Model.WebCooperator.Address.City</td>
                                <td>@Model.WebCooperator.Address.State</td>
                                <td>@Model.WebCooperator.Address.ZIP</td>
                            </tr>
                            @foreach (var address in Model.WebOrderRequestAddresses)
                            {
                                <tr>
                                    <td>Shipping</td>
                                    <td>@address.AddressLine1</td>
                                    <td>@address.AddressLine2</td>
                                    <td>@address.AddressLine3</td>
                                    <td>@address.City</td>
                                    <td>@address.State</td>
                                    <td>@address.ZIP</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- ORDER ITEMS -->
                    <br />
                    <label>Web Order Request Items</label>
                    <table class="table table-striped ggtools">
                        <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>Status</th>
                                <th>Accession</th>
                                <th>Species</th>
                                <th>Site Long Name</th>
                                <th>Site Short Name</th>
                                <th>Distribution Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var webOrderRequestItem in Model.WebOrderRequestItems)
                            {
                                <tr>
                                    <td>@webOrderRequestItem.SequenceNumber</td>
                                    <td>@webOrderRequestItem.StatusCode</td>
                                    <td><a href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail.aspx?id=@webOrderRequestItem.Accession.ID">@webOrderRequestItem.Accession.Descriptor</a></td>
                                    <td>
                                        <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomydetail?id=@webOrderRequestItem.Species.ID">@webOrderRequestItem.Species.Name</a>
                                    </td>
                                    <td>@webOrderRequestItem.Site.LongName</td>
                                    <td>@webOrderRequestItem.Site.ShortName</td>
                                    <td>@webOrderRequestItem.DistributionForm</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Notes</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @if (!String.IsNullOrEmpty(Model.IntendedUseNote))
                    {
                        <label>Intended Use</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.IntendedUseNote
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(Model.SpecialInstruction))
                    {
                        <label>Special Instruction</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.SpecialInstruction
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(Model.Note))
                    {
                        <label>Note</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.Note
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- APPROVE MODAL -->
    <div id="modal-approve" class="modal modal-success fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                    <textarea id="txtApprovalNote" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-approve-submit" class="btn btn-outline" data-dismiss="modal">Continue</button>
                    <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DENY MODAL -->
    <div id="modal-deny" class="modal modal-danger" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <h5>This will <strong>cancel</strong> this order.</h5>
                    <label>Note</label>
                    <textarea id="txtRejectionNote" rows="5" class="form-control"></textarea>
                    <br />
                    <div class="box box-danger collapsed-box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Preview Email</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" style="background-color:#d33724;" data-widget="collapse">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="background-color:#dd4b39;">
                            <p>Preview the email that the requestor will receive.</p>
                            <div class="form-group">
                                <label>To</label>
                                <input class="form-control" placeholder="To" disabled="" value="@Model.WebCooperator.EmailAddress">
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control" placeholder="Subject" disabled="" value="@Model.RequestorRejectionLetterTemplate.Subject.Replace("[ID_HERE]", Model.ID.ToString())">
                            </div>
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <label>Body</label>
                                </div>
                                <!-- /.box-header -->
                                <div class="email-body-container">
                                    @Html.Raw(Model.RequestorRejectionLetterTemplate.Body.Replace("[ID_HERE]", Model.ID.ToString()))
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-deny-submit" class="btn btn-outline" data-dismiss="modal">Continue</button>
                    <button type="button" id="btn-deny-cancel" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTE MODAL -->
    <div class="modal fade" id="modal-note">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Note</h4>
                </div>
                <div class="modal-body">
                    <textarea id="txtNote" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-note-submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- CONTACT-REQUESTOR EMAIL -->
    <div class="modal fade" id="modal-contact-requestor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Contact Requestor</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>To</label>
                            <input class="form-control" placeholder="To" value="@Model.WebCooperator.EmailAddress">
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input class="form-control" placeholder="Subject" value="@Model.InformationRequestEmailTemplate.Subject.Replace("[ID_HERE]", Model.ID.ToString())">
                        </div>
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <label>Body</label>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <p>
                                    @Html.Raw(Model.InformationRequestEmailTemplate.Body)
                                </p>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-contact-request-submit" class="btn btn-primary" data-dismiss="modal">Send Email</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

<script>

    $("#btn-unlock").click(function () {
        $("#Action").val("NRR_REVIEW_END");
        $("#frmEdit").submit();
    });

    $("#btn-preview-email").click(function () {
        $("#section-preview-email").show();
    });

    $("#btnEditEmail").click(function () {
        var id = $("#ID").val();
        var url = '@Url.Action("EditEmail", "WebOrder", new {webOrderRequestId = "REPLACEME"})';
        window.location.href = url.replace('REPLACEME', id);
    });


    $("#btn-approve-submit").click(function () {
        $("#Action").val("NRR_APPROVE");
        $("#ActionNote").val($("#txtApprovalNote").val());
        $("#frmEdit").submit();
    });

    $("#btn-deny-submit").click(function () {
        $("#Action").val("NRR_REJECT");
        $("#ActionNote").val($("#txtRejectionNote").val());
        $("#frmEdit").submit();
    });

    $("#btn-note-submit").click(function () {
        $("#Action").val("NRR_NOTE");
        $("#ActionNote").val($("#txtNote").val());
        $("#frmEdit").submit();
    });

    $("#btn-contact-request-submit").click(function () {
        $("#Action").val("NRR_INFO");
        var emailBody = $("#txtEmailBody").val();
        $("#ActionNote").val(emailBody);
        $("#frmEdit").submit();
    });

</script>