@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn {
        margin-left: 5px;
    }
</style>

@using (Html.BeginForm("Edit", "WebOrder", FormMethod.Post, new { id = "frmEdit" }))
{   @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.Action)
    @Html.HiddenFor(x => x.ActionNote)
    @Html.HiddenFor(x => x.WebCooperator.ID)
    @Html.HiddenFor(x => x.WebCooperator.EmailAddress)
    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px;">
            @if (Model.IsReviewMode)
            {
                <input type="button" id="btnDeny" class="btn btn-danger pull-right open-modal" data-toggle="modal" data-target="#modal-deny" value="Deny" />
                <input type="button" id="btnEditEmail" class="btn btn-danger pull-right" value="Edit Requestor Email" />
                <input type="button" id="btnApprove" class="btn btn-success pull-right open-modal" data-toggle="modal" data-target="#modal-approve" value="Approve" />
                <input type="button" id="btnAddNote" class="btn btn-default pull-right open-modal" data-toggle="modal" data-target="#modal-note" value="Add Note" />
                if (Model.IsLocked)
                {
                    <button type="button" id="btn-unlock" class="btn btn-primary pull-right" style="margin-right: 5px;">
                        <i class="fa fa-unlock"></i><span id="button-label">Unlock</span>
                    </button>
                }
            }
            <a href="@Url.Action("Index", "WebOrder")" class="btn btn-default">Return to  Home Page</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <!-- TIMELINE -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Web Order Actions</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    @if (Model.WebOrderRequestActionGroupViewModels.Count() > 0)
                    {
                        <ul class="timeline timeline-inverse">
                            @foreach (var webOrderRequestActionGroup in Model.WebOrderRequestActionGroupViewModels)
                            {
                                <li class="time-label">
                                    <span class="bg-aqua">
                                        @webOrderRequestActionGroup.ActionDate.ToShortDateString()
                                    </span>
                                </li>

                                foreach (var webOrderRequestAction in webOrderRequestActionGroup.WebOrderRequestActions)
                                {
                                    <li>
                                        <i class="@DisplayHelper.GetWebOrderRequestStatusCSSClass(webOrderRequestAction.ActionCode)"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i>@webOrderRequestAction.ActionDate.ToShortTimeString()</span>
                                            <h3 class="timeline-header">
                                                <strong>@webOrderRequestAction.Title</strong>
                                                (<a href="#">@webOrderRequestAction.CreatedByCooperatorName</a>)
                                            </h3>
                                            <div class="timeline-body">
                                                @webOrderRequestAction.Note
                                            </div>
                                            @*<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-xs">Read more</a>
                                                    <a class="btn btn-danger btn-xs">Delete</a>
                                                </div>*@
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                }
                            }
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <h4 style="padding-bottom:0px; margin-bottom:0px;"><i class="icon fa fa-info"></i>No Actions Found</h4>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Web Cooperator</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Address 3</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Postal Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.WebCooperator.FirstName</td>
                                <td>@Model.WebCooperator.LastName</td>
                                <td>@Model.WebCooperator.EmailAddress</td>
                                <td>@Model.WebCooperator.Address.AddressLine1</td>
                                <td>@Model.WebCooperator.Address.AddressLine2</td>
                                <td>@Model.WebCooperator.Address.AddressLine3</td>
                                <td>@Model.WebCooperator.Address.City</td>
                                <td>@Model.WebCooperator.Address.State</td>
                                <td>@Model.WebCooperator.Address.ZIP</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Request Details</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <!--ORDER-->
                    <label>Web Order</label>
                    <table class="table table-hover table-striped ggtools">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Intended Use</th>
                                <th>Submitted</th>
                                <th>By</th>
                                <th>Email</th>
                                <th>Address 1</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Postal Code</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><span class="badge">@Model.ID</span></td>
                                <td>@Model.StatusCode</td>
                                <td>@Model.IntendedUseCode</td>
                                <td>@Model.OrderDate.ToShortDateString()</td>
                                <td>@Model.WebCooperator.LastName, @Model.WebCooperator.FirstName</td>
                                <td>@Model.WebCooperator.EmailAddress</td>
                                <td>@Model.WebCooperator.Address.City</td>
                                <td>@Model.WebCooperator.Address.State</td>
                                <td>@Model.WebCooperator.Address.ZIP</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ORDER ITEMS -->
                    <label>Web Order Items</label>
                    <table class="table table-striped ggtools">
                        <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>Status</th>
                                <th>Accession</th>
                                <th>Species</th>
                                <th>Site</th>
                                <th>Distribution Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var webOrderRequestItem in Model.WebOrderRequestItems)
                            {
                            <tr>
                                <td>@webOrderRequestItem.SequenceNumber</td>
                                <td>@webOrderRequestItem.StatusCode</td>
                                <td><a href="https://npgsweb.ars-grin.gov/gringlobal/accessiondetail.aspx?id=@webOrderRequestItem.Accession.ID">@webOrderRequestItem.Accession.Descriptor</a></td>
                                <td>
                                    <a href="https://npgsweb.ars-grin.gov/gringlobal/taxon/taxonomydetail?id=@webOrderRequestItem.Species.ID">@webOrderRequestItem.Species.Name</a>
                                </td>
                                <td>@webOrderRequestItem.Site.LongName</td>
                                <td>@webOrderRequestItem.DistributionForm</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Notes</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @if (!String.IsNullOrEmpty(Model.IntendedUseNote))
                    {
                        <label>Intended Use</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.IntendedUseNote
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(Model.SpecialInstruction))
                    {
                        <label>Special Instruction</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.SpecialInstruction
                        </p>
                    }
                    @if (!String.IsNullOrEmpty(Model.Note))
                    {
                        <label>Note</label>
                        <p class="text-muted well well-sm no-shadow">
                            @Model.Note
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- APPROVE MODAL -->
    <div id="modal-approve" class="modal modal-success fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                    <textarea id="txtApprovalNote" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-approve-submit" class="btn btn-outline" data-dismiss="modal">Continue</button>
                    <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DENY MODAL -->
    <div id="modal-deny" class="modal modal-danger" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <h5>This will <strong>cancel</strong> this order as NRR.</h5>
                    <textarea id="txtRejectionNote" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-deny-submit" class="btn btn-outline" data-dismiss="modal">Continue</button>
                    <button type="button" id="btn-deny-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTE MODAL -->
    <div class="modal fade" id="modal-note">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Note</h4>
                </div>
                <div class="modal-body">
                    <textarea id="txtNote" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-note-submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

<script>

    $("#btn-unlock").click(function () {
        $("#Action").val("NRR_REVIEW_END");
        $("#frmEdit").submit();
    });

    $("#btnEditEmail").click(function () {
        var id = $("#ID").val();
        var url = '@Url.Action("EditEmail", "WebOrder", new {webOrderRequestId = "REPLACEME"})';
        window.location.href = url.replace('REPLACEME', id);
    });


    $("#btn-approve-submit").click(function () {
        $("#Action").val("NRR_APPROVE");
        $("#ActionNote").val($("#txtApprovalNote").val());
        $("#frmEdit").submit();
    });

    $("#btn-deny-submit").click(function () {
        $("#Action").val("NRR_REJECT");
        $("#ActionNote").val($("#txtApprovalNote").val());
        $("#frmEdit").submit();
    });

    $("#btn-note-submit").click(function () {
        $("#Action").val("NRR_NOTE");
        $("#ActionNote").val($("#txtNote").val());
        $("#frmEdit").submit();
    });


</script>