@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestSearchViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #web-order-request-id {
        font-weight: bold;
    }

    .label {
        font-size: 1.2em;
    }
</style>
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/moment/min/moment.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Order Status</h3>
                @Html.HiddenFor(x => x.ParentID)
                @Html.HiddenFor(x => x.SelectedStatusCode)
                @Html.HiddenFor(x => x.SelectedTimeFrameCode)
                @Html.HiddenFor(x => x.SelectedTimeFrameDesc)
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="section-user-pick-list" class="box-body no-padding">
                <div>
                    <ul class="nav nav-pills nav-stacked">
                        @foreach (var status in Model.Statuses)
                        {
                            <li id="@status.Name"><a href="#"><i class="fa fa-tachometer"></i> @status.Name</a></li>
                        }
                        <li id="ALL_STATUSES"><a href="#"><i class="fa fa-tachometer"></i> Any</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Submittal Time Frame</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="section-time-frame-pick-list" class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li id="1"><a href="#"><i class="fa fa-calendar"></i>Today</a></li>
                    <li id="2"><a href="#"><i class="fa fa-calendar"></i> The Last 7 Days</a></li>
                    <li id="3"><a href="#"><i class="fa fa-calendar"></i> The Last 30 Days</a></li>
                    <li id="4"><a href="#"><i class="fa fa-calendar"></i> The Last 60 Days</a></li>
                    <li id="0"><a href="#"><i class="fa fa-calendar"></i> Anytime</a></li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        @*<a href="@Url.Action("Search","WebOrder")" class="btn btn-primary btn-block">
            <i class="fa fa-search"></i>
            <b>Advanced Search</b>
        </a>*@
    </div>
    <div class="col-md-9">
        <div class="box box-primary" style="padding:10px;">
            <div class="box-header with-border">
                <h3 class="box-title">Web Orders</h3>
                <div id="page-title" style="margin-top:.5em;"></div>
                <input type="hidden" id="hidden-web-order-request-id" />
                <input type="hidden" id="hidden-web-cooperator-id" />

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div id="section-data">
                </div>
            </div>

            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

        </div>
    </div>
</div>

<div id="modal-approve" class="modal modal-success fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                <textarea id="txtApprovalNote" class="form-control" rows="5">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-approve-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-deny" class="modal modal-danger" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will flag this order and its requestor as NRR. Below is the email that the system will send to the requestor.</h5>
                <textarea id="txtDenyNote" class="form-control" rows="15">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-deny-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-deny-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    $(document).on({
        ajaxStart: function () {
            $(".overlay").show();
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });

    function Init()
    {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });
        //Default field values
        $("#txtWebOrderRequestID").val("");
        $("#txtOrderDateRange").val("");

        //Default display
        LoadData("NRR_FLAG", 2, "The Last 7 Days");
    }

    $(function () {
        $('input[name="OrderDateRange"]').daterangepicker({
            opens: 'right'
        }, function (start, end, label) {
                $("#SelectedDateRange").val(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

    $(function () {
        $('#section-user-pick-list ul.nav li').on('click', function () {

            // Highlight selected user control
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            // Call method that retrieves details for selected user
            var status = $(this).attr('id');
            var timeFrameId = $("#SelectedTimeFrameCode").val();
            var timeFrameDesc = $("#SelectedTimeFrameDesc").val();
            LoadData(status, timeFrameId, timeFrameDesc);
        });
    });

    $(function () {
        $('#section-time-frame-pick-list ul.nav li').on('click', function () {

            // Highlight selected user control
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            // Call method that retrieves details for selected user
            var timeFrameCode = $(this).attr('id');
            var timeFrameDesc = $(this).text(); 
            var statusCode = $("#SelectedStatusCode").val();
            LoadData(statusCode, timeFrameCode, timeFrameDesc);
        });
    });

    $("#btnSearch").click(function () {
        var statusCode = "";
        var timeFrameCode = "";
        var requestorEmail = "";
        var requestorFirstName = "";
        var requestorLastName = "";
        var intendedUseCode = "";
        var selectedDateRange = "";
        var id = 0;

        try {
            id = $("#txtWebOrderRequestID").val();
            statusCode = "";
            timeFrameCode = "";
            requestorEmail = $("#txtRequestorEmailAddress").val();
            requestorFirstName = $("#txtRequestorFirstName").val();
            requestorLastName = $("#txtRequestorLastName").val();
            intendedUseCode = $("#txtIntendedUseCode").val();
            selectedDateRange = $("#txtSelectedDateRange").val();
            SearchWebOrderRequests(id, statusCode, timeFrameCode, requestorEmail, requestorFirstName, requestorLastName, intendedUseCode, selectedDateRange);
        }
        catch (ex) {
            console.log(ex.message);
        }
    });

    $("#btnReset").click(function () {
        $("#section-search-criteria input").val("");
        $("select").each(function () { this.selectedIndex = 0 });
    });

    function SearchWebOrderRequests(webOrderRequestId = 0, statusCode= "", timeFrameCode="", email="", firstName="", lastName="", intendedUseCode="", selectedDateRange="")
    {
        var link = "";

        $("#SelectedStatusCode").val(statusCode);
        $("#SelectedTimeFrameCode").val(timeFrameCode);

        try {
            link = '@Url.Action("_Search", "WebOrder")';
            console.log("DEBUG " + webOrderRequestId + "," + statusCode + "," + timeFrameCode + "," + email + "," + firstName + "," + lastName + "," + intendedUseCode + "," + selectedDateRange);
            $.ajax(
                {
                    type: 'GET',
                    url: link,
                    data: { id: webOrderRequestId, statusCode: statusCode, timeFrameCode: timeFrameCode, requestorEmail: email, requestorFirstName: firstName, requestorLastName: lastName, intendedUseCode: intendedUseCode, selectedDateRange: selectedDateRange },
                    success:
                        function (response) {
                            $("#section-data").html(response);
                        },
                    error:
                        function (response) {
                            console.log(response);
                        }
                });
        }
        catch (ex)
        {
            console.log(ex.message);
        }
    }

    function LoadData(statusCode, timeFrameCode, timeFrameDesc)
    {
        $("#SelectedStatusCode").val(statusCode);
        $("#SelectedTimeFrameCode").val(timeFrameCode);
        $("#SelectedTimeFrameDesc").val(timeFrameDesc);

        var searchLabel = "<span class='badge bg-blue' style = 'font-size:1em;' > " + statusCode + "</span >";
        searchLabel = searchLabel + "<span class='badge bg-blue' style='font-size:1em; margin-left:.2em;'> " + timeFrameDesc + "</span>"

        $("#page-title").html(searchLabel);

        var $getStatusElement = $('li#' + statusCode);
        $getStatusElement.addClass('active');

        var $getTimeFrameElement = $('li#' + timeFrameCode);
        $getTimeFrameElement.addClass('active');

        var link = '@Url.Action("_List", "WebOrder")';
        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { status: statusCode, timeFrameCode: timeFrameCode },
                success:
                    function (response) {
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

    //$(document).on("click", ".open-modal", function () {
    //    var id = $(this).attr('id');
    //    var idValues = id.split('-');

    //    var buttonName = idValues[0];
    //    var webOrderRequestId = idValues[1];
    //    var webCooperatorId = idValues[2];

    //    $("#hidden-web-order-request-id").val(webOrderRequestId);
    //    $("#hidden-web-cooperator-id").val(webCooperatorId);
    //    $("#web-order-request-id").html(webOrderRequestId);

    //    if (buttonName == "btnApprove") {
    //        var myHeading = "<p>Approve Web Order " + webOrderRequestId + "</p>";
    //        $('#modal-approve').modal('show');
    //    }
    //    else {
    //        var myHeading = "<p>Deny Web Order " + webOrderRequestId + "</p>";
    //        $('#modal-deny').modal('show');
    //    }
    //});

    //$("#filterByStatusNRR").click(function () {

    //    $.ajax(
    //        {
    //            type: 'POST',
    //            url: link,
    //            success:
    //                function (response) {
    //                    $("#section-data").html(response);
    //                },
    //            error:
    //                function (response) {
    //                    console.log(response);
    //                }
    //        });
    //});

    //function Update(status)
    //{
    //    var webOrderRequestId = $("#hidden-web-order-request-id").val();
    //    var webCooperatorId = $("#hidden-web-cooperator-id").val();
    //    var note = '';

    //    if (status == 'NRR_APPROVE') {
    //        note = $("#txtApprovalNote").val();
    //    }
    //    else {
    //        note = $("#txtDenyNote").val();
    //    }

    //    $.ajax(
    //        {
    //            type: 'POST',
    //            url: '/WebOrder/Update',
    //            data: { webOrderRequestId: webOrderRequestId, webCooperatorId: webCooperatorId, statusCode: status, actionNote: note },
    //            success:
    //                function (response) {
    //                    $("#section-data").html(response);
    //                },
    //            error:
    //                function (response) {
    //                    alert("Error: " + response);
    //                }
    //        });
    //}

    //function InitializeDataTable() {
    //    $(document).ready(function () {
    //        $('table.ggtools').DataTable({
    //            'destroy': true,
    //            'paging': true,
    //            'lengthChange': false,
    //            'searching': false,
    //            'ordering': true,
    //            'info': true,
    //            'autoWidth': false
    //        });
    //    });
    //}
</script>