@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestSearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #web-order-request-id {
        font-weight: bold;
    }

    .label {
        font-size: 1.2em;
    }
</style>
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/moment/min/moment.min.js"></script>
<script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<div class="row">
    <div class="col-md-3">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_browse" data-toggle="tab">Browse</a></li>
                <li><a href="#tab_search" data-toggle="tab">Search</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_browse">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Order Status</h3>
                            @Html.HiddenFor(x => x.CurrentID)
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="section-user-pick-list" class="box-body no-padding">
                            <div>
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var status in Model.Statuses)
                                    {
                                        <li id="@status.Name"><a href="#"><i class="fa fa-circle"></i> @status.Name</a></li>
                                    }
                                    <li id="ANY"><a href="#"><i class="fa fa-circle"></i> Any</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Submittal Time Frame</h3>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="section-time-frame-pick-list" class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li id="1"><a href="#"><i class="fa fa-calendar"></i>Today</a></li>
                                <li id="2"><a href="#"><i class="fa fa-calendar"></i> The Last 7 Days</a></li>
                                <li id="3"><a href="#"><i class="fa fa-calendar"></i> The Last 30 Days</a></li>
                                <li id="4"><a href="#"><i class="fa fa-calendar"></i> The Last 180 Days</a></li>
                                <li id="0"><a href="#"><i class="fa fa-calendar"></i> Any</a></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_search">
                    @using (Html.BeginForm("Search", "WebOrder", FormMethod.Post, new { id = "frmEdit" }))
                    {
                        @Html.HiddenFor(x => x.Action)
                        @Html.HiddenFor(x => x.SelectedStatusCode)
                        @Html.HiddenFor(x => x.SelectedTimeFrameCode)
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Search Criteria</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="section-search-criteria" class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    @Html.TextBoxFor(x => x.RequestorEmailAddress, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    @Html.TextBoxFor(x => x.RequestorFirstName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    @Html.TextBoxFor(x => x.RequestorLastName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Intended Use</label>
                                    @Html.DropDownListFor(x => x.IntendedUseCode, Model.IntendedUseCodes, "Select a code", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Order Submitted</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.HiddenFor(x => x.SelectedDateRange)
                                        <input type="text" class="form-control pull-right" id="txtOrderDateRange" name="OrderDateRange">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    }
                    <button id="btnSearch" type="button" class="btn btn-primary">Search</button>
                    <button id="btnReset" type="button" class="btn btn-primary">Reset</button>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary" style="padding:10px;">
            <div class="box-header with-border">
                <h3 class="box-title">Web Orders</h3>
                <input type="hidden" id="hidden-web-order-request-id" />
                <input type="hidden" id="hidden-web-cooperator-id" />

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div id="section-data">
                </div>
            </div>

            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

        </div>
    </div>
</div>

<div id="modal-approve" class="modal modal-success fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                <textarea id="txtApprovalNote" class="form-control" rows="5">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-approve-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-deny" class="modal modal-danger" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will flag this order and its requestor as NRR. Below is the email that the system will send to the requestor.</h5>
                <textarea id="txtDenyNote" class="form-control" rows="15">
                   Dear << NAME >>
                   We are unable to process your request for the following reasons:
                   [] REASON 1
                   [] REASON 2
                   Skeptically Yours,
                   The USDA
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-deny-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-deny-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on({
        ajaxStart: function () {
            $(".overlay").show();
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });

    $(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
        //Date range picker
        //$('#txtOrderDateRange').daterangepicker()
    });

    $(function () {
        $('input[name="OrderDateRange"]').daterangepicker({
            opens: 'right'
        }, function (start, end, label) {
                $("#SelectedDateRange").val(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

    $(document).ready(function () {
        LoadData("NRR_FLAG", 2);
        $("#txtOrderDateRange").val("");
    });

    $(function () {
        $('#section-user-pick-list ul.nav li').on('click', function () {

            // Highlight selected user control
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            // Call method that retrieves details for selected user
            var status = $(this).attr('id');
            $("#SelectedStatusCode").val(status);

            var timeFrameId = $("#SelectedTimeFrameCode").val();
            LoadData(status, timeFrameId);
        });
    });

    $(function () {
        $('#section-time-frame-pick-list ul.nav li').on('click', function () {

            // Highlight selected user control
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            // Call method that retrieves details for selected user
            var timeFrameCode = $(this).attr('id');
            $("#SelectedTimeFrameCode").val(timeFrameCode);

            var statusCode = $("#SelectedStatusCode").val();
            LoadData(statusCode, timeFrameCode);
        });
    });

    $("#btnSearch").click(function () {
        var statusCode = "";
        var timeFrameCode = "";
        var requestorEmail = "";
        var requestorFirstName = "";
        var requestorLastName = "";
        var intendedUseCode = "";
        var selectedDateRange = "";
        var id = 0;

        try {
            statusCode = $("#SelectedStatusCode").val();
            timeFrameCode = $("#SelectedTimeFrameCode").val();
            requestorEmail = $("#RequestorEmailAddress").val();
            requestorFirstName = $("#RequestorFirstName").val();
            requestorLastName = $("#RequestorLastName").val();
            intendedUseCode = $("#IntendedUseCode").val();
            selectedDateRange = $("#SelectedDateRange").val();
            SearchWebOrderRequests(statusCode, timeFrameCode, requestorEmail, requestorFirstName, requestorLastName, intendedUseCode, selectedDateRange);
        }
        catch (ex) {
            console.log(ex.message);
        }
    });

    $("#btnReset").click(function () {
        $("#section-search-criteria input").val("");
        $("select").each(function () { this.selectedIndex = 0 });
    });

    function SearchWebOrderRequests(statusCode, timeFrameCode, email, firstName, lastName, intendedUseCode, selectedDateRange)
    {
        var link = "";

        $("#SelectedStatusCode").val(statusCode);
        $("#SelectedTimeFrameCode").val(timeFrameCode);

        try {
            link = '@Url.Action("_Search", "WebOrder")';
            $.ajax(
                {
                    type: 'GET',
                    url: link,
                    data: { statusCode: statusCode, timeFrameCode: timeFrameCode, requestorEmail: email, requestorFirstName: firstName, requestorLastName: lastName, intendedUseCode: intendedUseCode, selectedDateRange: selectedDateRange },
                    success:
                        function (response) {
                            $("#section-data").html(response);
                        },
                    error:
                        function (response) {
                            console.log(response);
                        }
                });
        }
        catch (ex)
        {
            console.log(ex.message);
        }
    }

    function LoadData(statusCode, timeFrameCode)
    {
        $("#SelectedStatusCode").val(statusCode);
        $("#SelectedTimeFrameCode").val(timeFrameCode);

        var $getStatusElement = $('li#' + statusCode);
        $getStatusElement.addClass('active');

        var $getTimeFrameElement = $('li#' + timeFrameCode);
        $getTimeFrameElement.addClass('active');

        var link = '@Url.Action("_List", "WebOrder")';
        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { status: statusCode, timeFrameCode: timeFrameCode },
                success:
                    function (response) {
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

    //$(document).on("click", ".open-modal", function () {
    //    var id = $(this).attr('id');
    //    var idValues = id.split('-');

    //    var buttonName = idValues[0];
    //    var webOrderRequestId = idValues[1];
    //    var webCooperatorId = idValues[2];

    //    $("#hidden-web-order-request-id").val(webOrderRequestId);
    //    $("#hidden-web-cooperator-id").val(webCooperatorId);
    //    $("#web-order-request-id").html(webOrderRequestId);

    //    if (buttonName == "btnApprove") {
    //        var myHeading = "<p>Approve Web Order " + webOrderRequestId + "</p>";
    //        $('#modal-approve').modal('show');
    //    }
    //    else {
    //        var myHeading = "<p>Deny Web Order " + webOrderRequestId + "</p>";
    //        $('#modal-deny').modal('show');
    //    }
    //});

    //$("#filterByStatusNRR").click(function () {

    //    $.ajax(
    //        {
    //            type: 'POST',
    //            url: link,
    //            success:
    //                function (response) {
    //                    $("#section-data").html(response);
    //                },
    //            error:
    //                function (response) {
    //                    console.log(response);
    //                }
    //        });
    //});

    //function Update(status)
    //{
    //    var webOrderRequestId = $("#hidden-web-order-request-id").val();
    //    var webCooperatorId = $("#hidden-web-cooperator-id").val();
    //    var note = '';

    //    if (status == 'NRR_APPROVE') {
    //        note = $("#txtApprovalNote").val();
    //    }
    //    else {
    //        note = $("#txtDenyNote").val();
    //    }

    //    $.ajax(
    //        {
    //            type: 'POST',
    //            url: '/WebOrder/Update',
    //            data: { webOrderRequestId: webOrderRequestId, webCooperatorId: webCooperatorId, statusCode: status, actionNote: note },
    //            success:
    //                function (response) {
    //                    $("#section-data").html(response);
    //                },
    //            error:
    //                function (response) {
    //                    alert("Error: " + response);
    //                }
    //        });
    //}

    //function InitializeDataTable() {
    //    $(document).ready(function () {
    //        $('table.ggtools').DataTable({
    //            'destroy': true,
    //            'paging': true,
    //            'lengthChange': false,
    //            'searching': false,
    //            'ordering': true,
    //            'info': true,
    //            'autoWidth': false
    //        });
    //    });
    //}
</script>