@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.GenusListViewModel

@if ((Model.Action != "Parent") && (Model.Action != "Folder"))
{
    <div class="mailbox-controls">
        <button type="button" id="btnSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" id="btnDeSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check-circle-o"></i>
        </button>
        <button type="button" id="btnAddFolder" class="btn btn-primary btn-sm">
            <i class="fa fa-folder"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("GenusEdit", "Taxonomy", new { id = 0 })'">
            <i class="fa fa-plus"></i>
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
}
<table id="data-table-genera" class="table table-striped" style=" width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Hybrid Code</th>
            <th>Qualifier Code</th>
            <th>TBD</th>
            <th>Last Modified</th>
            <th>By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genus in Model.Genera)
        {
            <tr>
                <td>
                    <span class="badge">@genus.ID</span>
                </td>
                <td>
                    @Html.Raw(genus.Name)
                </td>
                <td>
                    @genus.HybridCode
                </td>
                <td>
                    @genus.QualifyingCode
                </td>
                <td>
                </td>
                <td>
                    @if (genus.ModifiedDate != DateTime.MinValue)
                    {
                        @genus.ModifiedDate.ToShortDateString()
                    }
                </td>
                <td>
                    @genus.ModifiedByCooperatorName
                </td>
                <td>
                    <a href="@Url.Action("GenusEdit", "Taxonomy", new { id = genus.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    @if (Model.Action == "Folder")
                    {
                        <button id="btnDeleteFolderItem_@genus.ReferenceID" class="btn btn-danger btn-sm pull-right row-edit margin-r-5">
                            <i class="fa fa-trash"></i> Remove From Folder
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#data-table-genera').DataTable(
        {
            responsive: true,
            select: true,
            'checkboxes': {
                'selectRow': true
            }
        }
    );
</script>