@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CitationViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<style>
    .box-body {
        padding-left: 1em;
        padding-right: 1em;
    }

    .map-heading {
        font-size: 1.2em;
    }

    .map-attribute {
        font-size: 1.2em;
    }

    .widget-user-2 .widget-user-username {
        margin-left: 0px;
    }

    .widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
        margin-left: 0px;
    }
</style>

@if (Model.ID > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="callout callout-info" style="vertical-align:middle;">
                @*<img src="~/Content/img/info.png" style="margin:0px;" />*@
                @Html.Raw(Model.RevisionHistoryText)
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("CitationEdit", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.ID, new { id = "hfCitationID", name = "ID" })
    @Html.HiddenFor(x => x.LiteratureID)
    @Html.HiddenFor(x => x.SpeciesID)
    @Html.HiddenFor(x => x.GenusID)
    @Html.HiddenFor(x => x.FamilyID)
    @Html.HiddenFor(x => x.AccessionID)
    @Html.ValidationSummary()

    string IDLabel = String.Empty;

    if (Model.ID > 0)
    {
        IDLabel = "(" + Model.ID + ")";
    }
    else
    {
        IDLabel = String.Empty;
    }

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">
                        Detail @IDLabel
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Literature</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.LiteratureReferenceTitle, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                @Html.HiddenFor(x => x.LiteratureID)
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-literature-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Citation Type</label>
                                @Html.DropDownListFor(x => x.TypeCode, Model.CitationTypeCodes, "Select a type code", new { @id = "ddlCitationTypeCodes", @class = "form-control" })
                            </div>
                        </div>

                        <!-- /.col -->
                        <div class="col-md-3">
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label>Citation Title</label>
                                @Html.TextBoxFor(x => x.CitationTitle, new { @id = "txtCitationText", @class = "form-control" })
                            </div>
                            <!-- /.form-group -->

                        </div>
                        <div class="col-md-3">
                            <label>Author</label>
                            @Html.TextBoxFor(x => x.AuthorName, new { @id = "txtAuthorName", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>URL</label>
                            @Html.TextBoxFor(x => x.URL, new { @id = "txtURL", @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Reference</label>
                            @Html.TextBoxFor(x => x.Reference, new { @id = "txtReference", @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Year</label>
                            @Html.TextBoxFor(x => x.Year, new { @id = "txtYear", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:1em;">
                        <div class="col-md-12">
                            <label>Note</label>
                            @Html.TextAreaFor(x => x.Note, new { @id = "txtNote", @class = "form-control" })
                            <button type="button" class="btn btn-default pull-right" style="margin-top:1em;" data-toggle="modal" data-target="#modal-note-search">Search Notes...</button>
                        </div>
                        <script>
                            CKEDITOR.replace('txtNote');
                        </script>
                    </div>
                </div>
                <div class="box-footer" style="border:none;">
                    <button type="submit" class="btn btn-success">Save Edits</button>
                </div>
            </div>
        </div>
    </div>
}

@{ Html.RenderAction("_NoteSearchModal", "Taxonomy", new { taxonId = Model.ID }); }
@{ Html.RenderAction("_LiteratureSearch", "Taxonomy", new { taxonId = Model.ID }); }

<script>
    /*
    ===========================================================================
    LITERATURE SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchLiterature']", function () {
        var link = '@Url.Action("LiteratureSearch", "Taxonomy")';
        var searchText = $('#txtSearchLiterature').val();

        var formData = new FormData();
        formData.append("SearchText", searchText);
        formData.append("ResultsFormat", "2");
        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-literature-search-results").html(response);
            }
        });
    });

    function SelectLiterature(ID, title) {
        $('#modal-literature-search').modal('hide');
        $("#LiteratureReferenceTitle").val(title);
        $("#LiteratureID").val(ID);
    }
</script>
