@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CitationHomeViewModel
@{
    ViewBag.Title = "Taxonomy: Citations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("CitationEdit","Taxonomy")" class="btn btn-primary btn-block margin-bottom">
            <i class="fa fa-plus"></i>
            New
        </a>
    </div>
</div>

<!-- ============================================================================================== -->
<!-- SEARCH CRITERIA -->
<!-- ============================================================================================== -->
<div class="box box-primary">

    @using (Html.BeginForm("CitationSearch", "Taxonomy", FormMethod.Post, new { id = "frmEdit" }))
    {
        <div class="box-header with-border">
            <h3 class="box-title">Search</h3>

            <div class="box-tools pull-right">
                <div class="has-feedback">
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row pad-top">
                <div class="col-md-1">
                    <label>Search Type</label>
                    <select id="ddlSearchType" class="form-control">
                        <option value="family">Family</option>
                        <option value="genus">Genus</option>
                        <option value="species">Species</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div id="form-group-family">
                        <label>Family Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.FamilyName, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.FamilyID)
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-family-search">...</button>
                            </span>
                        </div>
                    </div>
                    <div id="form-group-genus">
                        <label>Genus Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.GenusName, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.GenusID)
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-genus-search">...</button>
                            </span>
                        </div>
                    </div>
                    <div id="form-group-species">
                        <label>Species Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.SpeciesName, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.SpeciesID)
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-species-search">...</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Citation Type</label>
                    @Html.DropDownListFor(x => x.TypeCode, Model.CitationTypeCodes, "Select a type code", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Vol. and Page</label>
                    @Html.TextBoxFor(x => x.Reference, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>DOI Reference</label>
                    @Html.TextBoxFor(x => x.DOIReference, new { @class = "form-control" })
                </div>
            </div>
            <div class="row pad-top">
                <div class="col-md-2">
                    <label>Lit. Abbrev.</label>
                    @Html.TextBoxFor(x => x.Abbreviation, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label>Article or Chapter Title</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label>Author</label>
                    @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Year</label>
                    @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Note</label>
                    @Html.TextBoxFor(x => x.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input id="btnReset" type="button" class="btn btn-danger" value="Clear" />
            <input id="btnSearch" type="button" class="btn btn-default" value="Search" />
        </div>
    }
</div>

<!-- ============================================================================================== -->
<!-- SEARCH RESULTS -->
<!-- ============================================================================================== -->
<div class="box box-default" style="padding:10px;">
    <div class="box-header with-border">
        <h3 class="box-title">Search Results</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div id="section-search-results">

        </div>
    </div>
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<div id="section-search-results-container" class="box box-primary">

</div>

@{ Html.RenderAction("_FolderModal", "Taxonomy", new { id = Model.ID, context = "taxononomy_genus" }); }
@{ Html.RenderAction("_FamilySearchModal", "Taxonomy", new { id = Model.ID, context = "taxononomy_genus" }); }
@{ Html.RenderAction("_GenusSearchModal", "Taxonomy", new { id = Model.ID, context = "taxononomy_genus" }); }
@{ Html.RenderAction("_SpeciesSearchModal", "Taxonomy", new { id = Model.ID, context = "taxononomy_genus" }); }

<script type="text/javascript">

    $(document).ready(function () {
        Init();
    });

    function Init() {
        var searchType = $("#ddlSearchType").val();
        var formGroupName = "#form-group-" + searchType;

        $(".overlay").hide();
        $("#form-group-family").hide();
        $("#form-group-genus").hide();
        $("#form-group-species").hide();
        $(formGroupName).show();
    }

    $(document).on({
        ajaxStart: function () {
            $(".overlay").show();
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });

    $(function () {
        $("#btnSearch").click(function () {
            var dataSourceName = "taxonomy_" + $("#ddlSearchType").val();
            var link = '@Url.Action("CitationSearch", "Taxonomy")';
            var formData = new FormData();

            formData.append("DataSourceName", dataSourceName);
            formData.append("FamilyID", $("#FamilyID").val());
            formData.append("FamilyName", $("#FamilyName").val());
            formData.append("TypeCode", $("#TypeCode").val());
            formData.append("Reference", $("#Reference").val());
            formData.append("DOIReference", $("#DOIReference").val());
            formData.append("Title", $("#Title").val());

            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-search-results").html(response);
                }
            });
        });

        $("#btnReset").click(function () {
            $(this).closest('form').find("input[type=text], textarea").val("");
            $("#FamilyID").val(0);
            $("#GenusID").val(0);
            $("#SpeciesID").val(0);
            $("#section-search-criteria select").val("");
            $('#section-search-results').html("");
        });
    });

    /*
    ===========================================================================
    FAMILY SEARCH MODAL
    ===========================================================================
    */
    $(document).on("click", "[id='btnSearchFamilies']", function () {
        var dataSourceName = "taxonomy_" + $("#ddlSearchType").val();
        var familyName = $("#txtSearchFamilyName").val();
        var link = '@Url.Action("FamilySearch", "Taxonomy")';
        var formData = new FormData();

        try {
            formData.append("ResultsFormat", 2);
            formData.append("DataSourceName", dataSourceName);
            formData.append("Name", familyName);
            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-family-search-results").html(response);
                }
            });
        }
        catch (ex) {
            console.log(ex);
        }

    });

    function SelectFamily(familyId, familyName) {
        $('#modal-family-search').modal('hide');
        $("#FamilyID").val(familyId);
        $("#FamilyName").val(familyName);
    }

</script>
