@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CitationHomeViewModel
@{
    ViewBag.Title = "Taxonomy: Citations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- ============================================================================================== -->
<!-- TABBED VIEW -->
<!-- ============================================================================================== -->
<div class="box box-primary" style="padding:10px;">
  
    <div class="box-header with-border">
        <h3 class="box-title">Citation</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="background-color:#ebebeb;">
                    <a href="#tab_species" id="tab-select-species" title="species" class="selector-tab" data-toggle="tab" aria-expanded="true">Species</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_genus" id="tab-select-genus" title="genus" class="selector-tab" data-toggle="tab" aria-expanded="true">Genus</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_family" id="tab-select-family" title="family" class="selector-tab" data-toggle="tab" aria-expanded="false">Family</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_search" id="tab-enter-search" title="" class="selector-tab" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_species">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtSpeciesName">Species Name</label>
                                    <div class="input-group">
                                        <input id="txtSpeciesName" class="form-control">
                                        @Html.HiddenFor(x => x.SpeciesID, new { id = "hfSpeciesID" })
                                        <span class="input-group-btn">
                                            <button id="btnSearchBySpecies" type="button" class="btn btn-primary btn-flat">Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-species">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_genus">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGenusName">Genus Name</label>
                                    <div class="input-group">
                                        <input id="txtGenusName" class="form-control">
                                        @Html.HiddenFor(x => x.GenusID, new { id = "hfGenusID" })
                                        <span class="input-group-btn">
                                            <button id="btnSearchByGenus" type="button" class="btn btn-primary btn-flat">Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-genus">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_family">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtGenusName">Family Name</label>
                                    <div class="input-group">
                                        <input id="txtFamilyName" class="form-control">
                                        @Html.HiddenFor(x => x.FamilyID, new { id = "hfFamilyID" })
                                        <span class="input-group-btn">
                                            <button id="btnSearchByFamily" type="button" class="btn btn-primary btn-flat">Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-family">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_search">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select id="ddlCategories" class="form-control">
                                        <option value="FAM">Family</option>
                                        <option value="GEN">Genus</option>
                                        <option value="SPC">Species</option>
                                        <option value="ACC">Accession</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Full Text</label>
                                    @Html.TextBoxFor(x => x.FullText, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Type</label>
                                <select id="ddlTypeCodes" class="form-control">
                                    <option value="NODULATION">Nodulation</option>
                                    <option value="RELATIVE">CWR</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Abbreviation</label>
                                @Html.TextBoxFor(x => x.Abbreviation, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <label>Author</label>
                                @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><input type="button" class="btn btn-primary" value="Search" /></div>
                        </div>                   
                        <div id="section-search-results">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>*@
</div>

<script>
    $(document).on({
        ajaxStart: function () {
            //$(".overlay").show();
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });

    $(document).ready(function () {
        $("#txtSpeciesName").autocomplete({
            source: function (request, response) {
            
                $.ajax({
                    url: "/Taxonomy/SpeciesCache",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.ID };
                        }))

                    }
                })
            },
            minLength: 0,
            select: function (event, ui) {
               event.preventDefault();
                $("#hfSpeciesID").val(ui.item.value);
                $("#txtSpeciesName").val(ui.item.label);
            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }
        });
    })
</script>


<script type="text/javascript">

    $("#btnSearchBySpecies").click(function () {
        var speciesId = $("#hfSpeciesID").val();
        DisplayRecords("species", speciesId);
    });

    function DisplayRecords(category, id)
    {
        var section = "#section-" + category;
        var link = '@Url.Action("CitationList", "Taxonomy")';

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { category : category, id: id },
                success:
                    function (response) {
                        $(section).html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

</script>