@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CitationHomeViewModel
@{
    ViewBag.Title = "Taxonomy: Citations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<style>
    .tab-content {
       border-bottom:none;
    }
</style>

<!-- ============================================================================================== -->
<!-- SEARCH CRITERIA -->
<!-- ============================================================================================== -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Search</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">
                <label>Lit. Abbrev.</label>
                @Html.TextBoxFor(x => x.Abbreviation, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label>Title</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label>Author</label>
                @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label>Year</label>
                @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label>Note</label>
                @Html.TextBoxFor(x => x.Note, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="background-color:#ebebeb;">
                    <a href="#tab_species" id="tab-select-species" title="species" class="selector-tab" data-toggle="tab" aria-expanded="true">Species</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_genus" id="tab-select-genus" title="genus" class="selector-tab" data-toggle="tab" aria-expanded="true">Genus</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_family" id="tab-select-family" title="family" class="selector-tab" data-toggle="tab" aria-expanded="false">Family</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_accession" id="tab-select-accession" title="accession" class="selector-tab" data-toggle="tab" aria-expanded="false">Accession</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_species">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="txtSpeciesName">Species Name</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.SpeciesName, new { @id = "SpeciesName", @class = "form-control" })
                                    @Html.HiddenFor(x => x.SpeciesID, new { id = "hfSpeciesID" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-species-search">...</button>
                                    </span>
                                    @Html.ValidationMessageFor(x => x.SpeciesID, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(x => x.SpeciesName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Citation Type</label>
                                @Html.DropDownListFor(x => x.TypeCode, Model.CitationTypeCodes, "Select a type code", new { @id = "ddlCitationTypeCodes", @class = "form-control" })
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_genus">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="txtSpeciesName">Genus Name</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.GenusName, new { @id = "GenusName", @class = "form-control" })
                                    @Html.HiddenFor(x => x.GenusID, new { id = "hfGenusID" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-genus-search">...</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_family">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="txtSpeciesName">Family Name</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.FamilyName, new { @id = "FamilyName", @class = "form-control" })
                                    @Html.HiddenFor(x => x.GenusID, new { id = "hfFamilyID" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-family-search">...</button>                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_accession">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="txtSpeciesName">Accession Name</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.AccessionName, new { @id = "AccessionName", @class = "form-control" })
                                    @Html.HiddenFor(x => x.AccessionID, new { id = "hfAccessionID" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-accession-search">...</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <input id="btnClear" type="button" class="btn btn-danger" value="Clear" />
        <input id="btnSearchBySpecies" type="button" class="btn btn-primary" value="Search" />
    </div>
</div>

<!-- SEARCH RESULTS -->
<div id="section-search-results-container" class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Search Results</h3>
    </div>
    <div class="box-body">
        <div id="section-search-results">
        </div>
    </div>
</div>

<!--
=====================================================================================
MODALS
=====================================================================================
-->
@Html.Partial("~/Views/Taxonomy/Species/_SearchModal.cshtml")
    @*<script>
            //$(document).on({
            //    ajaxStart: function () {
            //        $(".overlay").show();
            //    },
            //    ajaxStop: function () {
            //        $(".overlay").hide();
            //    }
            //});

            $(document).ready(function () {
                //$("#txtSpeciesName").autocomplete({
                //    source: function (request, response) {

                //        alert("debug " + request.term);

                //        $.ajax({
                //            url: "/Taxonomy/SpeciesCache",
                //            type: "POST",
                //            dataType: "json",
                //            data: { prefix: request.term },
                //            success: function (data) {
                //                response($.map(data, function (item) {
                //                    return { label: item.Name, value: item.ID };
                //                }))

                //            }
                //        })
                //    },
                //    minLength: 0,
                //    select: function (event, ui) {
                //        event.preventDefault();
                //        $("#hfSpeciesID").val(ui.item.value);
                //        $("#txtSpeciesName").val(ui.item.label);
                //    },
                //    messages: {
                //        noResults: "",
                //        results: function (count) {
                //            return count + (count > 1 ? ' results' : ' result ') + ' found';
                //        }
                //    }
                //});
            })
        </script>*@


    <script type="text/javascript">

    $("#btnSearchBySpecies").click(function () {
        var speciesName = $("#SpeciesName").val();
        var genusName = $("#GenusName").val();
        var familyName = $("#FamilyName").val();
        var accessionName = $("#AccessionName").val(); 
        var citationTypeCode = $("#ddlCitationTypeCodes option:selected").text();
        var abbreviation = $("#Abbreviation").val();
        var note = $("#Note").val();

        //var citationTypeCodeId = $("#ddlCitationTypeCodes").val();
        var link = '@Url.Action("CitationSearch", "Taxonomy")';

        alert("DEBUG SEARCH");

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { searchType: 1, speciesName: speciesName, genusName: genusName, familyName: familyName, citationTypeCode: citationTypeCode, abbreviation: abbreviation, note:note },
                success:
                    function (response) {
                        $("#section-search-results").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });

    });

    @*function DisplayRecords(category, id)
    {
        var section = "#section-" + category;
        var link = '@Url.Action("CitationList", "Taxonomy")';

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { category : category, id: id },
                success:
                    function (response) {
                        $(section).html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }*@

    </script>
