@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-home"></i>
                    <span>GGTools Home</span>
                </a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Taxonomy")">
                <a href="@Url.Action("Index","Taxonomy")">
                    <i class="fa fa-tree"></i>
                    <span>Taxonomy Editor Home</span>
                </a>
            </li>
            <li class="header">MANAGE DATA</li>

            <!-- FAMILY -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Family</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li><a href="@Url.Action("Explorer","Taxonomy")"><i class="fa fa-bookmark"></i> EXPLORER</a></li>*@
                    <li><a href="@Url.Action("FamilyHome", "Taxonomy")"><i class="fa fa-home"></i> Home</a></li>

                    @if (HttpContext.Current.Request.Url.ToString().Contains("GenusEdit"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> Edit
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#section-top-summary"><i class="fa fa-bookmark"></i> Summary</a></li>
                                <li><a href="#section-top-synonyms"><i class="fa fa-bookmark"></i> Synonyms</a></li>
                                <li><a href="#section-top-subtaxa"><i class="fa fa-bookmark"></i> Subtaxa</a></li>
                                <li><a href="#section-top-citations"><i class="fa fa-bookmark"></i> Citations</a></li>
                                <li><a href="#section-top-uses"><i class="fa fa-bookmark"></i> Economic Uses</a></li>
                                <li><a href="#section-top-geographies"><i class="fa fa-bookmark"></i> Geographies</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>

            <!-- GENUS -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Genus</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("GenusHome", "Taxonomy")"><i class="fa fa-home"></i> Home</a></li>

                    @if (HttpContext.Current.Request.Url.ToString().Contains("GenusEdit"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> Edit
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#section-detail"><i class="fa fa-bookmark"></i> Summary</a></li>
                                <li><a href="#section-related-species"><i class="fa fa-bookmark"></i> Species</a></li>
                                <li><a href="#section-related-synonyms"><i class="fa fa-bookmark"></i> Synonyms</a></li>
                                <li><a href="#section-related-citations"><i class="fa fa-bookmark"></i> Citations</a></li>

                                @*<li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Citations
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>*@
                            </ul>
                        </li>
                    }
                </ul>
            </li>

            <!-- SPECIES -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Species</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("SpeciesHome", "Taxonomy")"><i class="fa fa-home"></i> Home</a></li>
                    @if (HttpContext.Current.Request.Url.ToString().Contains("SpeciesEdit"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> Edit
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#section-top-summary"><i class="fa fa-bookmark"></i> Summary</a></li>
                                <li><a href="#section-top-synonyms"><i class="fa fa-bookmark"></i> Synonyms</a></li>
                                <li><a href="#section-top-subtaxa"><i class="fa fa-bookmark"></i> Subtaxa</a></li>
                                <li><a href="#section-top-citations"><i class="fa fa-bookmark"></i> Citations</a></li>
                            </ul>
                        </li>
                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> Economic Use
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("EconomicUseHome", "Taxonomy")"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#section-top-summary"><i class="fa fa-edit"></i> Edit</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> Common Names
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("CommonNameHome", "Taxonomy")"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#section-top-summary"><i class="fa fa-edit"></i> Edit</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- CROP -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Crop</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("CropForCWRSearch", "Taxonomy")"><i class="fa fa-search"></i> Crop For CWR Search</a></li>
                    <li><a href="@Url.Action("CWRMapSearch", "Taxonomy")"><i class="fa fa-search"></i> CWR Map Search</a></li>
                    <li><a href="@Url.Action("CWRTraitSearch", "Taxonomy")"><i class="fa fa-search"></i> CWR Trait Search</a></li>
                    @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Detail
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>*@
                </ul>
            </li>

            <!-- CITATION -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Citation</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("CitationHome", "Taxonomy")"><i class="fa fa-home"></i> Citation Home</a></li>
                    <li><a href="@Url.Action("LiteratureHome", "Taxonomy")"><i class="fa fa-home"></i> Literature Home</a></li>
                </ul>
            </li>

            <!-- REGULATION -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Regulation</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("RegulationSearch", "Taxonomy")"><i class="fa fa-search"></i> Regulation Search</a></li>
                    <li><a href="@Url.Action("RegulationMapSearch", "Taxonomy")"><i class="fa fa-search"></i> Regulation Map Search</a></li>
                </ul>
            </li>

            <!-- AUTHOR -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Author</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AuthorHome", "Taxonomy")"><i class="fa fa-search"></i> Author Search</a></li>
                </ul>
            </li>

            <li class="header">REPORTS</li>

            <!-- REPORTS -->
            @*<li class="treeview menu-open">
            <a href="#">
                <i class="fa fa-circle-o"></i>
                <span>SEASONAL</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: block;">
                <li class="@Url.IsLinkActive("RegulationHome", "Taxonomy")">
                    <a href="@Url.Action("RegulationHome", "Taxonomy")">
                        <i class="fa fa-book"></i>
                        <span>ISTA</span>
                    </a>
                </li>
            </ul>
        </li>*@
</section>
</aside>
