@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.LiteratureListViewModel

@if ((Model.Action != "Parent") && (Model.Action != "Folder") && (Model.Format != 3))
{
    <div class="mailbox-controls">
        <button type="button" id="btnSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" id="btnDeSelectAll" class="btn btn-default btn-sm">
            <i class="fa fa-check-circle-o"></i>
        </button>
        <button type="button" id="btnAddFolder" class="btn btn-primary btn-sm">
            <i class="fa fa-folder"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("FamilyEdit", "Taxonomy", new { id = 0 })'">
            <i class="fa fa-plus"></i>
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
}

@if (Model.LiteratureList != null)
{
    if (Model.LiteratureList.Count() > 0)
    {
        <table id="data-table" class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Abbreviation</th>
                    <th>Std. Abbreviation</th>
                    <th>Ref. Title</th>
                    <th>Editor or Author Name</th>
                    <th>Type</th>
                    <th>
                </tr>
            </thead>
            <tbody>
                @foreach (var literature in Model.LiteratureList)
                { 
                <tr>
                    <td><span class="badge">@literature.ID</span></td>
                    <td>@literature.Abbreviation</td>
                    <td>@literature.StandardAbbreviation</td>
                    <td>@literature.ReferenceTitle</td>
                    <td>@literature.EditorAuthorName</td>
                    <td>@literature.TypeCode</td>
                    <td>
                        @if (Model.Action == "Folder")
                        {
                            <button id="btnDeleteFolderItem_@literature.ReferenceID" class="btn btn-danger btn-sm pull-right row-edit">
                                <i class="fa fa-trash"></i> Remove From Folder
                            </button>
                        }
                        <a href="@Url.Action("LiteratureEdit", "Taxonomy", new { id = literature.ID })" class="btn btn-primary btn-sm pull-right row-edit margin-r-5">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            Your search returned no matches.
        </div>
    }
}

<script type="text/javascript">
    $('#data-table').DataTable(
        {
            responsive: true,
            select: true,
            'checkboxes': {
                'selectRow': true
            }
        }
    );
</script>



