@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CWRMapSearchViewModel
@using System.Data.SqlClient;

    <div style="margin-top:15px;">
        <div class="mailbox-controls">
            <button type="button" class="btn btn-success btn-sm check-all-search-results">
                <i class="fa fa-check-square"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm uncheck-all-search-results">
                <i class="fa fa-check-square-o"></i>
            </button>
            <button type="button" id="btnAddSearchResultsToFolder" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-add-search-results-to-folder">
                <i class="fa fa-folder-open"></i>
            </button>
            @*<button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CropSearch", "Taxonomy")'">
                <img src="~/Content/img/fa-search-plus.png" style="width:18px; height:18px;" />
            </button>*@
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CWRMapEdit", "Taxonomy", new { cropId = Model.CropID })'">
                <i class="fa fa-plus"></i>
            </button>
            <div class="pull-right">
                <button type="button" disabled class="btn btn-default btn-sm">
                    Export
                </button>
            </div>
        </div>
        <div class="table-responsive mailbox-messages">

            @if (Model.CWRMaps.Count > 0)
            {
            <table id="search-results" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th>ID</th>
                        <th>Crop Name</th>
                        <th>Created</th>
                        <th>By</th>
                        <th>Last Modified</th>
                        <th>By</th>
                        <th style="text-align:center;">Related CWR</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CWRMaps != null)
                    {
                        if (Model.CWRMaps.Count > 0)
                        {
                            foreach (var cwrMap in Model.CWRMaps)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check-input" style="position: absolute; opacity:1;" id="@cwrMap.ID">
                                    </td>
                                    <td>
                                        <span class="label label-default">@cwrMap.ID</span>
                                    </td>
                                    <td>
                                        @cwrMap.CommonName
                                    </td>
                                    <td>
                                        @cwrMap.CreatedDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @cwrMap.CreatedByCooperatorName
                                    </td>
                                    <td>
                                        @if (cwrMap.ModifiedDate != DateTime.MinValue)
                                        {
                                            @cwrMap.ModifiedDate.ToShortDateString()
                                        }
                                    </td>
                                    <td>
                                        @cwrMap.ModifiedByCooperatorName
                                    </td>
                                    <td style="text-align:center;">
                                        @*@if (Int32.Parse(row["cwr_count"].ToString()) > 0)
                                        {
                                            <span class="label label-success">@row["cwr_count"]</span>
                                        }*@
                                    </td>
                                    <td>
                                        <a href="@Url.Action("CWRMapEdit", "Taxonomy", new { cropId = cwrMap.CropID, cwrMapid = cwrMap.ID })" class="btn btn-primary btn-sm pull-right row-edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
            }
            else
            {
                <div class="callout callout-info" style="vertical-align:middle; margin-top:20px;">
                    @*<img src="~/Content/img/info.png" style="margin:0px;" />*@
                    Your search returned no matches.
                </div>
            }
        </div>
    </div>


    <script>

       
            $('#search-results').DataTable({
                'destroy': true,
                'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
  

        $(function () {
            $('.check-all-search-results').on('click', function () {
                $('.mailbox-messages input:checkbox').prop('checked', true);
            });
            $('.uncheck-all-search-results').on('click', function () {
                $('.mailbox-messages input:checkbox').prop('checked', false);
            });
        });

       
        
    

</script>